{% extends "emails/base.html" %}

{% block content %}
    {% include "allmychanges/digest-partial.html" with changes=today_changes title="Last 24 hours" %}

    {% if week_changes_count %}
      <div class="email-note">
       <p>Also, during this week {{ week_changes_count }} packages were changed.</p>
       <p>Read <a href="{% url "digest" %}">full digest</a>.</p>
      </div>
    {% endif %}

    <div class="email-note">
      <hr/>
      <p>Sincerely yours, change-tracking robot.</p>
    </div>

    <div class="email-unsubscribe">
      <p>You received this email because you (or somebody else) subscribed to
        allmychanges.com digests. If you would like to unsubscribe or
        manage your subscription's settings, please <a href="{% url "account-settings" %}">follow this link</a>.
      </p>
    </div>
{% endblock %}
