{% extends "emails/base.html" %}

{% block content %}
<p>Dear {{ user.username|title }},<br/><br/>

You have created an account at AllMyChanges.
To deliver changelogs digest we need to verify that this is
email belongs to you.</p>

<p>Please, click here:<br/>
<a href="http://allmychanges.com/account/confirm/{{ hash }}">
http://allmychanges.com/account/confirm/{{ hash }}</a><br/>
to confirm your desire to receive email digests with latest
changelogs' items.</p>

<p>If you did not request that an AllMyChanges account be created,
please disregard this notice. No email will be sent without your confirmation.</p>
{% endblock %}
