*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
/dist


# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.tar.gz
/env
/env2
/envs-backup/
/secure_settings.py
/static
/data
.stats
.idea
/src/
/.noseids
/.tdaemon.state
/node_modules/
*.log
.envrc
*.csv
\#*
/.hash-before-release
/bower_components/
/dumps/
/fake/
/tmp/
/wheelhouse/
/load-tests/