-e git+git://github.com/svetlyak40wt/logster.git@1aaf0732b49c384130a0e27dd27f66098b1b285f#egg=logster
-e git+https://github.com/pinax/django-mailer@44641b814660a9deef907ad9049d571cb1709901#egg=django-mailer
South==0.8.4
anyjson==0.3.3
django-debug-toolbar==1.0.1
django-extensions==1.3.3
django-rq==0.6.1
django==1.5.5
djangorestframework==2.3.13
docutils==0.11
drf-extensions==0.2.2
envoy==0.0.2
graphitesend==0.3.0
gunicorn==18.0
lxml==3.3.4
markdown==2.4
oauthlib==0.6.1
python-dateutil==2.2
python-openid==2.2.5
python-social-auth==0.1.23
pytz==2014.2
redis==2.9.1
requests-oauthlib==0.4.0
requests==2.2.1
rq==0.3.13
six==1.6.1
sqlparse==0.1.11
times==0.6.2
