# dev
# для тестов
git+git://github.com/nosedjango/nosedjango.git

# уже стал ставить из PyPi
# git+git://github.com/svetlyak40wt/unittest-asserts.git


# prod
# for accessing AllMyChanges's own API
# уже стал ставить из PyPi
# git+git://github.com/svetlyak40wt/django-oauth-toolkit

# markdown парсить
# уже стал ставить из PyPi
# git+git://github.com/svetlyak40wt/django-markdown2
# git+git://github.com/trentm/python-markdown2
