-e git+git://github.com/nosedjango/nosedjango.git@05d280a98085d05182119ce6b5eac2dcf59553b6#egg=nosedjango  # requirements-dev.in:18
-e git+git://github.com/svetlyak40wt/logster.git@1aaf0732b49c384130a0e27dd27f66098b1b285f#egg=logster  # requirements-dev.in:1 -> requirements.in:27
-e git+git://github.com/svetlyak40wt/nose-notify-tmux.git@e715df3ea6e1c41da8e964a04be759a7a364d284#egg=nose-notify-tmux  # requirements-dev.in:16
-e git+git://github.com/svetlyak40wt/pip-1.git@2a44a3b0287a8ef05c216a93bb4a0a7a40d0e73f#egg=pip  # requirements-dev.in:14
-e git+git://github.com/svetlyak40wt/pip-tools.git@bb3ab518747069a3047ea88f34c08f4a91d19438#egg=pip-tools  # requirements-dev.in:15
-e git+git://github.com/svetlyak40wt/tdaemon.git@8f8b9dc603a90b9c135f94dba352dac5750a1bd5#egg=tdaemon  # requirements-dev.in:17
-e git+https://github.com/svetlyak40wt/django-markdown2@4b791ab9e08e35ee0e611d6b94ade4f29c59e00a#egg=django-markdown2  # requirements-dev.in:1 -> requirements.in:29
-e git+https://github.com/svetlyak40wt/django-sendmail-backend@ce08fe6af41f5e9ef6d88e9aec11fe5798a145d6#egg=django-sendmail-backend  # requirements-dev.in:1 -> requirements.in:28
-e git+https://github.com/trentm/python-markdown2@26daeae75bc06cade2d9455881287e74d0b397a7#egg=python-markdown2  # requirements-dev.in:1 -> requirements.in:30
anyjson==0.3.3  # requirements-dev.in:1 -> requirements.in:17
argcomplete==0.8.0  # requirements-dev.in:5 ~> tmuxp==0.1.11
chaussette==1.1  # requirements-dev.in:1 -> requirements.in:23
cssselect==0.9.1  # requirements-dev.in:1 -> requirements.in:19 ~> premailer==2.1.3
cssutils==1.0  # requirements-dev.in:1 -> requirements.in:19 ~> premailer==2.1.3
django-braces==1.4.0  # requirements-dev.in:1 -> requirements.in:24
django-debug-toolbar==1.2.1  # requirements-dev.in:1 -> requirements.in:6
django-extensions==1.3.8  # requirements-dev.in:1 -> requirements.in:5
django-rq==0.6.2  # requirements-dev.in:1 -> requirements.in:11
django-widget-tweaks==1.3  # requirements-dev.in:1 -> requirements.in:25
django==1.6.5  # requirements-dev.in:1 -> requirements.in:1
djangorestframework==2.3.14  # requirements-dev.in:1 -> requirements.in:4 ~> drf-extensions==0.2.3
docopt==0.6.2  # requirements-dev.in:10
docutils==0.11  # requirements-dev.in:1 -> requirements.in:12
drf-extensions==0.2.3  # requirements-dev.in:1 -> requirements.in:4
envoy==0.0.2  # requirements-dev.in:1 -> requirements.in:8
fabric==1.9.0  # requirements-dev.in:11
fancycompleter==0.4  # requirements-dev.in:3 ~> pdbpp==0.7.2
flask==0.10.1  # requirements-dev.in:12 ~> rq-dashboard==0.3.3
graphitesend==0.3.4  # requirements-dev.in:1 -> requirements.in:9
gunicorn==19.0.0  # requirements-dev.in:1 -> requirements.in:15
html2text==2014.4.5  # requirements-dev.in:1 -> requirements.in:22
itsdangerous==0.24  # requirements-dev.in:12 ~> rq-dashboard==0.3.3 ~> flask==0.10.1
jinja2==2.7.3  # requirements-dev.in:12 ~> rq-dashboard==0.3.3 ~> flask==0.10.1
kaptan==0.5.7  # requirements-dev.in:5 ~> tmuxp==0.1.11
lxml==3.3.5  # requirements-dev.in:1 -> requirements.in:14 and requirements-dev.in:1 -> requirements.in:19 ~> premailer==2.1.3
markdown==2.4.1  # requirements-dev.in:1 -> requirements.in:13
markupsafe==0.23  # requirements-dev.in:12 ~> rq-dashboard==0.3.3 ~> flask==0.10.1 ~> jinja2==2.7.3
mock==1.0.1  # requirements-dev.in:7
nose==1.2.1  # requirements-dev.in:4
oauthlib==0.6.3  # requirements-dev.in:1 -> requirements.in:16 ~> python-social-auth==0.1.26
paramiko==1.14.0  # requirements-dev.in:11 ~> fabric==1.9.0
pdbpp==0.7.2  # requirements-dev.in:3
premailer==2.1.3  # requirements-dev.in:1 -> requirements.in:19
pyflakes==0.8.1  # requirements-dev.in:6
pygments==1.6  # requirements-dev.in:3 ~> pdbpp==0.7.2
pyrepl==0.8.4  # requirements-dev.in:3 ~> pdbpp==0.7.2 ~> fancycompleter==0.4
python-dateutil==2.2  # requirements-dev.in:1 -> requirements.in:18 and requirements-dev.in:12 ~> rq-dashboard==0.3.3 ~> times==0.6.2 and requirements-dev.in:1 -> requirements.in:18 ~> times==0.6.2
python-memcached==1.53  # requirements-dev.in:1 -> requirements.in:21
python-openid==2.2.5  # requirements-dev.in:1 -> requirements.in:16 ~> python-social-auth==0.1.26
python-social-auth==0.1.26  # requirements-dev.in:1 -> requirements.in:16
pytz==2014.4  # requirements-dev.in:1 -> requirements.in:18 and requirements-dev.in:12 ~> rq-dashboard==0.3.3 ~> times==0.6.2 and requirements-dev.in:1 -> requirements.in:18 ~> times==0.6.2
pyyaml==3.11  # requirements-dev.in:5 ~> tmuxp==0.1.11 ~> kaptan==0.5.7
redis==2.10.1  # requirements-dev.in:12 ~> rq-dashboard==0.3.3
requests-oauthlib==0.4.1  # requirements-dev.in:1 -> requirements.in:16 ~> python-social-auth==0.1.26
requests==2.3.0  # requirements-dev.in:1 -> requirements.in:16 ~> python-social-auth==0.1.26
rq-dashboard==0.3.3  # requirements-dev.in:12
rq==0.4.6  # requirements-dev.in:12 ~> rq-dashboard==0.3.3
simplejson==3.5.2  # requirements-dev.in:12 ~> rq-dashboard==0.3.3
six==1.7.2  # requirements-dev.in:1 -> requirements.in:23 ~> chaussette==1.1
south==0.8.4  # requirements-dev.in:1 -> requirements.in:2
sqlparse==0.1.11  # requirements-dev.in:1 -> requirements.in:6 ~> django-debug-toolbar==1.2.1
tailer==0.3  # requirements-dev.in:9
times==0.6.2  # requirements-dev.in:1 -> requirements.in:18 and requirements-dev.in:12 ~> rq-dashboard==0.3.3
tmuxp==0.1.11  # requirements-dev.in:5
twiggy-goodies==0.2.2  # requirements-dev.in:1 -> requirements.in:20
twiggy==0.4.5  # requirements-dev.in:1 -> requirements.in:20 ~> twiggy-goodies==0.2.2
werkzeug==0.9.6  # requirements-dev.in:12 ~> rq-dashboard==0.3.3 ~> flask==0.10.1
wmctrl==0.1  # requirements-dev.in:3 ~> pdbpp==0.7.2
