django>=1.6,<1.6.6
South
djangorestframework
drf-extensions
django-extensions
django-debug-toolbar
requests
envoy
graphitesend
rq
django-rq
docutils
markdown
lxml
gunicorn
python-social-auth
anyjson<0.4
times
premailer
twiggy-goodies
python-memcached
html2text
chaussette
django-braces
django-widget-tweaks
Sphinx
bleach
django-compressor

-e git+https://github.com/svetlyak40wt/django-oauth-toolkit
-e git+git://github.com/svetlyak40wt/logster.git@allmychanges
-e git+https://github.com/svetlyak40wt/django-sendmail-backend
-e git+https://github.com/svetlyak40wt/django-markdown2
-e git+https://github.com/trentm/python-markdown2