django>=1.5,<1.6
South
djangorestframework
drf-extensions
django-extensions
django-debug-toolbar
requests
envoy
graphitesend
rq
django-rq
docutils
markdown
lxml
gunicorn
python-social-auth
anyjson<0.4
times
premailer

-e git+git://github.com/svetlyak40wt/logster.git@allmychanges
-e git+https://github.com/svetlyak40wt/django-sendmail-backend