django>=1.6,<1.7
South
djangorestframework<3.0.0
drf-extensions
django-extensions
django-debug-toolbar
requests
envoy
graphitesend
rq<0.5.0
django-rq
docutils
markdown
lxml
gunicorn
python-social-auth<0.2
anyjson<0.4
times
premailer
twiggy-goodies
python-memcached
html2text
chaussette
django-braces
django-widget-tweaks
Sphinx
bleach
django-compressor
sortedcontainers
plumbum
ndg-httpsclient
pyOpenSSL
orderedset

-e git+git://github.com/svetlyak40wt/django-oauth-toolkit
-e git+git://github.com/svetlyak40wt/logster.git@allmychanges
-e git+git://github.com/svetlyak40wt/django-sendmail-backend
-e git+git://github.com/svetlyak40wt/django-markdown2
-e git+git://github.com/trentm/python-markdown2