html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.form {
  margin-top: 1em;
  margin-bottom: 1em;
}
.form__help {
  color: #808080;
  margin-top: 1em;
}
.form__layout__left-column {
  padding-bottom: 1.333333333333333em;
}
.form__layout__right-column {
  padding-bottom: 1.333333333333333em;
}
.form_large {
  font-size: 2em;
  line-height: 1.333333333333333em;
}
.label {
  margin-right: 1em;
  white-space: nowrap;
}
.text-input,
.dropdown {
  border: 1px solid #808080;
  font-size: 1em;
  padding: 0.066666666666667em;
  margin: 0;
}
.text-input__error,
.dropdown__error {
  border: 1px solid #ff8080;
}
.button {
  color: #333;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #808080;
  font-size: 0.8em;
  line-height: 1.583333333333333em;
  padding-top: 0.083333333333333em;
  padding-bottom: 0.083333333333333em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin: 0;
  border-radius: 0.166666666666667em;
}
.button:hover {
  background-color: #ccc;
}
.button_good {
  color: #f1f1f1;
  background-color: #6cb636;
  border-color: #518929;
}
.button_good:hover {
  background-color: #56922b;
}
.button_bad {
  color: #fff;
  background-color: #d9534f;
  border-color: #518929;
}
.button_bad:hover {
  background-color: #c32e2a;
}
.button_medium {
  font-size: 1em;
  line-height: 1.266666666666667em;
}
.button_large {
  font-size: 2em;
  line-height: 1.333333333333333em;
}
.box {
  background-color: #fff;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-left: -0.5em;
  border: 1px solid #dedede;
}
.box_guide {
  padding-top: 1em;
}
.page-header {
  font-size: 1.666666666666667em;
  line-height: 1.2em;
  margin-bottom: 1em;
}
.page-subheader {
  margin-bottom: 1em;
}
.nowrap {
  white-space: nowrap;
}
.header {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  background-color: #fff;
  margin-bottom: 1em;
  border-bottom: 1px solid #dedede;
}
.logo {
  float: left;
  margin-left: 100px;
}
.logo__text {
  font-size: 2em;
}
.logo__link {
  text-decoration: none;
  color: #000;
}
.login-plate {
  float: right;
  margin-right: 100px;
  line-height: 2em;
}
.login-plate__profile-link {
  color: #000;
  text-decoration: none;
}
.login-plate__profile-link:hover {
  text-decoration: underline;
}
.form_subscription {
  font-size: 2em;
}
.page-header_coming-soon {
  font-size: 3em;
}
.box_coming-soon {
  margin-left: -2.5em;
  margin-right: -2.5em;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
.landing-ru1 {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2em;
  line-height: 1.5em;
  padding-top: 1em;
}
.landing-ru1 > p {
  margin-bottom: 1em;
  color: #666;
}
.landing-ru1 .highlight {
  color: #333;
}
.plate {
  background-color: #6cb636;
  line-height: 2.666666666666667em;
  padding-left: 0.666666666666667em;
  margin-left: -0.666666666666667em;
  color: #fefefe;
  border: 1px solid #518929;
}
.plate_warning {
  background-color: #d9534f;
  border: 1px solid #b72c27;
}
.link_plate {
  color: #a9a9fe;
}
.link_plate:visited {
  color: #a9a9fe;
}
.share-badge {
  position: absolute;
}
.share-badge__example {
  position: absolute;
}
.share-badge__text {
  position: absolute;
  width: 400px;
  left: 95px;
}
.share-badge__tabs {
  font-size: 8px;
  line-height: 1em;
  position: absolute;
  left: 95px;
  top: -13px;
  width: 400px;
}
.share-badge .tab {
  display: inline-block;
  border: 1px solid #808080;
  border-bottom-width: 0;
  padding: 2px;
  cursor: pointer;
  color: #999;
  background-color: #fff;
}
.share-badge .tab:last-child {
  border-right: 1px solid #808080;
}
.share-badge .tab_active {
  z-index: 100;
  border-bottom: 1px solid #fff;
  color: #333;
}
.subscribed-text {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.page {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  background-color: #fff;
}
body.email {
  background-color: #fff;
}
.digest-source {
  list-style-type: none;
  padding-left: 0px;
}
.digest-source__namespace-field {
  width: 15em;
}
.digest-source__source-field {
  width: 25em;
}
.digest-source__problem {
  color: #f00;
}
.digest-source__waiting {
  color: #00f;
}
.digest-source__version {
  color: #008000;
}
.content {
  margin-left: 100px;
  margin-right: 100px;
}
.footer {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 2em;
  margin-bottom: 1em;
  border-top: 1px solid #ddd;
  padding-top: 1em;
  color: #808080;
}
.clear {
  clear: both;
}
.grouped-changes-title {
  font-size: 1.5em;
}
.package-changes {
  list-style: none;
  clear: both;
}
.package-changes__package-title {
  font-size: 1.2em;
}
.package-changes__package-title > a {
  color: #000;
  text-decoration: none;
}
.package-changes__package-title > a:hover {
  text-decoration: underline;
}
.package-version {
  list-style: none;
}
.package-version__number {
  display: inline-block;
  margin-top: 1em;
}
.package-version__number > a {
  color: #000;
  text-decoration: none;
}
.package-version__number > a:hover {
  text-decoration: underline;
}
.package-version__date {
  display: inline;
  color: #808080;
}
.package-version__items {
  margin-left: 1em;
  margin-top: 0.5em;
}
.package-version__section-item {
  list-style: disc inside;
}
.package-version__section-item > p:first-child {
  margin-left: 0;
}
.package-version__section-item > p {
  margin-left: 1em;
}
.package-version__notes {
  margin-left: 1em;
  margin-top: 0.5em;
}
.grouped-changes-title {
  margin-top: 1em;
}
.package-changes__package-title {
  margin-top: 1em;
  display: inline-block;
}
.email-note {
  margin-top: 2em;
  font-size: 1.2em;
}
.email-signature {
  margin-top: 2em;
  font-size: 1.2em;
}
.email-unsubscribe {
  font-size: 0.75em;
  margin-top: 2em;
}
.package-metadata > dt {
  float: left;
  clear: left;
  color: #b3b3b3;
}
.package-metadata > dd {
  float: left;
  margin-left: 0.6em;
  color: #808080;
}
.package-version__section-item {
  list-style: none;
  line-height: 1.667em;
}
.package-version__section-item p:first-child {
  margin-left: 0;
}
.package-version__section-item p {
  margin-left: 1em;
}
.package-version__section-item_fix:before {
  content: "fix";
  background-color: #ee883d;
  position: absolute;
  margin-left: -40px;
  font-size: 12px;
  font-family: Courier New;
  padding: 2px 4px;
  border-radius: 3px;
  color: #fff;
  width: 24px;
  text-align: center;
  line-height: 1em;
  margin-top: 5px;
}
.package-version__section-item_new:before {
  content: "new";
  background-color: #5fbe40;
  position: absolute;
  margin-left: -40px;
  font-size: 12px;
  font-family: Courier New;
  padding: 2px 4px;
  border-radius: 3px;
  color: #fff;
  width: 24px;
  text-align: center;
  line-height: 1em;
  margin-top: 5px;
}
.package-version__section-item_sec:before {
  content: "sec";
  background-color: #ff3b16;
  position: absolute;
  margin-left: -40px;
  font-size: 12px;
  font-family: Courier New;
  padding: 2px 4px;
  border-radius: 3px;
  color: #fff;
  width: 24px;
  text-align: center;
  line-height: 1em;
  margin-top: 5px;
}
.package-version__section-item_dep:before {
  content: "dep";
  background-color: #ff3b16;
  position: absolute;
  margin-left: -40px;
  font-size: 12px;
  font-family: Courier New;
  padding: 2px 4px;
  border-radius: 3px;
  color: #fff;
  width: 24px;
  text-align: center;
  line-height: 1em;
  margin-top: 5px;
}
.package-version__section-item_inc:before {
  content: "inc";
  background-color: #ff3b16;
  position: absolute;
  margin-left: -40px;
  font-size: 12px;
  font-family: Courier New;
  padding: 2px 4px;
  border-radius: 3px;
  color: #fff;
  width: 24px;
  text-align: center;
  line-height: 1em;
  margin-top: 5px;
}
.autocomplete-input {
  display: inline-block;
}
.form_profile {
  width: 50%;
}
.text-input_with-token {
  width: 30em;
}
