html,
body {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
#outlook a {
  padding: 0;
}
/* Force Outlook to provide a "view in browser" menu link. */
/*body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}*/
/* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
.ExternalClass {
  width: 100%;
}
/* Force Hotmail to display emails at full width */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
/*#backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}*/
/* End reset */
/* Some sensible defaults for images
   1. "-ms-interpolation-mode: bicubic" works to help ie properly resize images in IE. (if you are resizing them using the width and height attributes)
   2. "border:none" removes border when linking images.
   3. Updated the common Gmail/Hotmail image display fix: Gmail and Hotmail unwantedly adds in an extra space below images when using non IE browsers. You may not always want all of your images to be block elements. Apply the "image_fix" class to any image you need to fix.
   
   Bring inline: Yes.
   */
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}
a img {
  border: none;
}
.image_fix {
  display: block;
}
/** Yahoo paragraph fix: removes the proper spacing or the paragraph (p) tag. To correct we set the top/bottom margin to 1em in the head of the document. Simple fix with little effect on other styling. NOTE: It is also common to use two breaks instead of the paragraph tag but I think this way is cleaner and more semantic. NOTE: This example recommends 1em. More info on setting web defaults: http://www.w3.org/TR/CSS21/sample.html or http://meiert.com/en/blog/20070922/user-agent-style-sheets/

Bring inline: Yes.
**/
p {
  margin: 1em 0;
}
/** Hotmail header color reset: Hotmail replaces your header color styles with a green color on H2, H3, H4, H5, and H6 tags. In this example, the color is reset to black for a non-linked header, blue for a linked header, red for an active header (limited support), and purple for a visited header (limited support).  Replace with your choice of color. The !important is really what is overriding Hotmail's styling. Hotmail also sets the H1 and H2 tags to the same size.

Bring inline: Yes.
**/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000 !important;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #00f !important;
}
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  color: #f00 !important;
/* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
}
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #800080 !important;
/* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */
}
/** Outlook 07, 10 Padding issue: These "newer" versions of Outlook add some padding around table cells potentially throwing off your perfectly pixeled table.  The issue can cause added space and also throw off borders completely.  Use this fix in your header or inline to safely fix your table woes.

More info: http://www.ianhoar.com/2008/04/29/outlook-2007-borders-and-1px-padding-on-table-cells/
http://www.campaignmonitor.com/blog/post/3392/1px-borders-padding-on-table-cells-in-outlook-07/

H/T @edmelly

Bring inline: No.
**/
table td {
  border-collapse: collapse;
}
/** Remove spacing around Outlook 07, 10 tables

More info : http://www.campaignmonitor.com/blog/post/3694/removing-spacing-from-around-tables-in-outlook-2007-and-2010/

Bring inline: Yes
**/
table {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}
/* Styling your links has become much simpler with the new Yahoo.  In fact, it falls in line with the main credo of styling in email, bring your styles inline.  Your link colors will be uniform across clients when brought inline.

Bring inline: Yes. */
a {
  color: #ffa500;
}
/* Or to go the gold star route...
   a:link { color: orange; }
   a:visited { color: blue; }
   a:hover { color: green; }
   */
.form {
  font-size: 15px;
  font-weight: normal;
  font-family: proxima-nova, sans-serif;
  line-height: 20px;
}
.form__help {
  color: #808080;
  margin-top: 1em;
}
.form__layout__left-column {
  padding-bottom: 1.333333333333333em;
}
.form__layout__right-column {
  padding-bottom: 1.333333333333333em;
}
.form._large {
  font-size: 30px;
  line-height: 40px;
}
.label {
  margin-right: 1em;
  white-space: nowrap;
}
.text-input,
.select-box,
.textarea {
  border: 1px solid #808080;
  font-size: 15px;
  padding: 3px;
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}
.text-input__error,
.select-box__error,
.textarea__error {
  border: 1px solid #ff8080;
}
.text-input._large,
.select-box._large,
.textarea._large {
  font-size: 30px;
}
.textarea {
  height: 200px;
}
.button {
  display: inline-block;
  font-size: 15px;
  font-family: arial;
  font-weight: normal;
  line-height: 15px;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  border-radius: 3px;
}
.button:hover {
  background-color: #ccc;
}
.button:disabled {
  color: #858585;
  cursor: not-allowed;
}
.button:disabled:hover {
  background-color: #fff;
}
.button._good {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4bad4b;
}
.button._good:hover {
  background-color: #439a43;
}
.button._good:disabled {
  color: #fff;
  background-color: #aedcae;
  border-color: #ceeace;
}
.button._good:disabled:hover {
  background-color: #aedcae;
}
.button._bad {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43b37;
}
.button._bad:hover {
  background-color: #c32e2a;
}
.button._bad:disabled {
  color: #fff;
  background-color: #eca9a7;
  border-color: #f4cbca;
}
.button._bad:disabled:hover {
  background-color: #eca9a7;
}
.button._medium {
  font-size: 20px;
  line-height: 20px;
}
.button._large {
  font-size: 30px;
  line-height: 30px;
}
.input {
  margin-top: 16px;
}
.input__error {
  margin-left: 10px;
  color: #f00;
}
.form-buttons__back {
  width: 100%;
}
.box {
  background-color: #fff;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-left: -0.5em;
  border: 1px solid #dedede;
}
.box_guide {
  padding-top: 1em;
}
.page-header {
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 27px;
  font-family: pragmatica-web-condensed, sans-serif;
}
.page-subheader {
  margin-top: 25px;
  margin-bottom: 16px;
  font-family: pragmatica-web-condensed, sans-serif;
}
.nowrap {
  white-space: nowrap;
}
.clear-both {
  clear: both;
}
.header {
  padding-top: 1.5em;
  padding-left: 100px;
  background-color: #eee;
  margin-bottom: 30px;
}
.logo {
  position: absolute;
  top: 32px;
  z-index: 1000;
}
.logo__text {
  font-size: 2em;
  font-family: pragmatica-web-condensed, sans-serif;
}
.logo__link {
  text-decoration: none;
  color: #000;
  transition: all ease 500ms;
}
.logo__link:hover {
  color: #46f;
}
.login-plate {
  position: absolute;
  right: 20px;
  top: 5px;
}
.login-plate__greeting {
  display: inline-block;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  top: 6px;
  text-align: right;
}
.login-plate__profile-link {
  color: #000;
  text-decoration: none;
}
.login-plate__profile-link:hover {
  text-decoration: underline;
}
.site-menu {
  display: block;
  margin: 0;
  padding: 20px 0px 10px 0px;
  border-bottom: 1px solid #808080;
}
.site-menu__item {
  display: inline-block;
}
.site-menu__item a {
  display: block;
  font-size: 20px;
  margin-right: 30px;
  color: #333;
  text-decoration: none;
  border-bottom: 5px solid #555;
  transition: 0.2s;
}
.site-menu__item a:hover {
  color: #46f;
  border-bottom: 5px solid #46f;
}
.site-menu__selected-item a {
  border-bottom: 5px solid #f00;
}
.site-menu__selected-item a:hover {
  color: #333;
  border-bottom: 5px solid #f00;
  cursor: default;
}
.magic-prompt {
  width: 100%;
  box-sizing: border-box;
  padding-left: 270px;
  padding-right: 400px;
  position: relative;
}
.magic-prompt__input {
  font-size: 24px;
  line-height: 40px;
  border: 1px solid #808080;
  padding: 0 5px;
  width: 100%;
}
.magic-prompt__submit {
  font-size: 24px;
  line-height: 32px;
  position: absolute;
  right: 250px;
}
.magic-prompt__no-matches {
  padding: 10px;
}
.magic-prompt__suggest-item-info {
  color: #808080;
  float: right;
}
.magic-prompt .twitter-typeahead {
  width: 100%;
}
.magic-prompt .tt-dropdown-menu {
  width: 100%;
  background: #fff;
  border: 1px solid #808080;
  box-shadow: 0 0 3px #111;
  margin-top: 10px;
}
.magic-prompt .tt-suggestion {
  border-bottom: 1px solid #808080;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
}
.magic-prompt .tt-cursor {
  background: #88f;
}
.magic-prompt .tt-suggestion:last-of-type {
  border-bottom: none;
}
.form_subscription {
  font-size: 2em;
}
.page-header_coming-soon {
  font-size: 3em;
}
.box_coming-soon {
  margin-left: -2.5em;
  margin-right: -2.5em;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
.landing-ru1 {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2em;
  line-height: 1.5em;
  padding-top: 1em;
}
.landing-ru1 > p {
  margin-bottom: 1em;
  color: #666;
}
.landing-ru1 .highlight {
  color: #333;
}
.plate {
  background-color: #5cb85c;
  font-size: 15px;
  line-height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 7px;
  color: #fefefe;
  border: 1px solid #3f903f;
}
.plate_warning {
  background-color: #d9534f;
  border: 1px solid #b72c27;
}
.link_plate {
  color: #a9a9fe;
}
.link_plate:visited {
  color: #a9a9fe;
}
.add-page__container {
  max-width: 800px;
}
.add-page__text {
  font-size: 20px;
  line-height: 30px;
}
.add-page__examples {
  list-style-position: inside;
  font-size: 20px;
  line-height: 30px;
  margin: 20px;
}
.add-page__example a {
  color: #000;
  text-decoration: none;
  transition: color 0.2s;
  font-family: courier new;
}
.add-page__example a:hover {
  color: #00f;
  text-decoration: none;
}
.add-page__form {
  position: relative;
  padding-right: 110px;
  margin: 30px 0;
}
.add-page__input {
  width: 100%;
  margin-right: -40px;
  font-size: 25px;
  height: 35px;
}
.add-page__submit-button {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
}
.first-step__container {
  max-width: 800px;
}
.first-step__help {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.first-step__label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
}
.first-step__header {
  border-bottom: 4px solid #5cb85c;
  display: inline-block;
}
.first-step__submit-buttons {
  float: right;
}
.first-step__submit-buttons a {
  margin-left: 20px;
}
.first-step__input {
  position: relative;
}
.first-step__input .errorlist {
  position: absolute;
  list-style: none;
  margin-top: -15px;
  color: #f00;
}
.first-step__list {
  list-style-position: inside;
  font-size: 20px;
  line-height: 30px;
}
.first-step__list-item {
  background: #f2f0f0;
  padding: 10px;
  border: 1px solid #e3e1e1;
  border-radius: 5px;
  list-style-type: none;
  padding-left: 60px;
  position: relative;
  margin-bottom: 30px;
}
.first-step__list-item h2 {
  margin-top: -25px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #555;
}
.first-step__list-item:before {
  font-size: 40px;
  position: relative;
  left: -40px;
  top: 10px;
  margin-right: -20px;
}
.first-step__list-item:nth-child(1):before {
  content: "1";
}
.first-step__list-item:nth-child(2):before {
  content: "2";
}
.subscribed-text {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.page {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
}
body.email {
  background-color: #fff;
}
.digest-source {
  list-style-type: none;
  padding-left: 0px;
}
.digest-source__namespace-field {
  width: 15em;
}
.digest-source__source-field {
  width: 25em;
}
.digest-source__problem {
  color: #f00;
}
.digest-source__waiting {
  color: #00f;
}
.digest-source__version {
  color: #008000;
}
.content {
  margin-left: 100px;
  margin-right: 100px;
}
.footer {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 2em;
  margin-bottom: 1em;
  border-top: 1px solid #ddd;
  padding-top: 1em;
  color: #808080;
}
.clear {
  clear: both;
}
.grouped-changes-title {
  font-size: 1.5em;
  font-family: pragmatica-web-condensed, sans-serif;
  font-weight: 300;
  margin-top: 1em;
}
.package-changes {
  list-style: none;
  clear: both;
}
.package-changes__package-title {
  font-size: 1.2em;
  font-family: pragmatica-web-condensed, sans-serif;
}
.package-changes__package-title > a {
  color: #000;
  text-decoration: none;
}
.package-changes__package-title > a:hover {
  text-decoration: underline;
}
.package-version {
  list-style: none;
/* Remove this after migration to one blob versions */
/* Remove this after migration to one blob versions */
/* Remove this after migration to one blob versions */
}
.package-version__number {
  display: inline-block;
  margin-top: 1em;
  font-family: pragmatica-web-condensed, sans-serif;
}
.package-version__number > a {
  color: #000;
  text-decoration: none;
}
.package-version__number > a:hover {
  text-decoration: underline;
}
.package-version__date {
  display: inline;
  color: #808080;
  font-family: pragmatica-web-condensed, sans-serif;
}
.package-version__items {
  margin-left: 1em;
  margin-top: 0.5em;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
}
.package-version__section-item {
  list-style: none;
  line-height: 1.667em;
}
.package-version__section-item > :first-child {
  margin-left: 0;
}
.package-version__section-item > p,
.package-version__section-item > blockquote,
.package-version__section-item > dl,
.package-version__section-item > div {
  margin-left: 38px;
}
.package-version__section-item ul,
.package-version__section-item ol {
  margin-left: 16px;
}
.package-version__description {
  margin-left: 1em;
  margin-top: 0.5em;
  font-size: 16px;
  line-height: 22px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
/* show code blocks nicely */
/* hide Django's permalinks */
}
.package-version__description ul {
  list-style-position: outside;
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.package-version__description li > ul {
  margin-left: 20px;
  margin-top: 0px;
}
.package-version__description h1 {
  font-size: 26px;
  font-family: pragmatica-web-condensed, sans-serif;
  line-height: 40px;
  margin-top: 16px;
  margin-bottom: 6px;
}
.package-version__description h2 {
  font-size: 22px;
  font-family: pragmatica-web-condensed, sans-serif;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 6px;
}
.package-version__description h3 {
  font-size: 16px;
  font-family: pragmatica-web-condensed, sans-serif;
  line-height: 22px;
  font-variant: small-caps;
  margin-top: 16px;
  margin-bottom: 6px;
}
.package-version__description h4 {
  font-size: 16px;
  font-family: pragmatica-web-condensed, sans-serif;
  line-height: 22px;
  font-variant: small-caps;
  margin-top: 16px;
  margin-bottom: 6px;
  color: #808080;
}
.package-version__description h1 tt,
.package-version__description h2 tt,
.package-version__description h3 tt,
.package-version__description h4 tt {
  font-weight: normal;
}
.package-version__description p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 11px;
}
.package-version__description p:last-child {
  margin-bottom: 0px;
}
.package-version__description pre {
  font-size: 12px;
  background-color: #fafafa;
  border: 1px solid #dfdfdf;
  padding: 11px;
}
.package-version__description a[title="Permalink to this headline"] {
  display: none;
}
.package-version__notes {
  margin-left: 1em;
  margin-top: 0.5em;
  font-size: 16px;
  line-height: 22px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
/* show code blocks nicely */
/* hide Django's permalinks */
}
.package-version__notes ul,
.package-version__notes ol {
  margin-left: 16px;
}
.package-version__notes h2 {
  font-size: 22px;
  font-family: pragmatica-web-condensed, sans-serif;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 6px;
}
.package-version__notes h3 {
  font-size: 16px;
  font-family: pragmatica-web-condensed, sans-serif;
  line-height: 22px;
  font-variant: small-caps;
  margin-top: 16px;
  margin-bottom: 6px;
}
.package-version__notes h4 {
  font-size: 16px;
  font-family: pragmatica-web-condensed, sans-serif;
  line-height: 22px;
  font-variant: small-caps;
  margin-top: 16px;
  margin-bottom: 6px;
  color: #808080;
}
.package-version__notes h1 tt,
.package-version__notes h2 tt,
.package-version__notes h3 tt,
.package-version__notes h4 tt {
  font-weight: normal;
}
.package-version__notes p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 11px;
}
.package-version__notes p:last-child {
  margin-bottom: 0px;
}
.package-version__notes pre {
  font-size: 12px;
  background-color: #fafafa;
  border: 1px solid #dfdfdf;
  padding: 11px;
}
.package-version__notes a[title="Permalink to this headline"] {
  display: none;
}
.package-changes__package-title {
  margin-top: 1em;
  display: inline-block;
}
.package-metadata > dt {
  float: left;
  clear: left;
  color: #b3b3b3;
}
.package-metadata > dd {
  float: left;
  margin-left: 0.6em;
  color: #808080;
}
.changelog-item-type {
  background-color: #800080;
  content: text;
  font-size: 12px;
  font-family: Courier New;
  padding: 2px 4px;
  border-radius: 3px;
  color: #fff;
  margin-right: 8px;
  position: relative;
  top: -2px;
}
.changelog-item-type_fix {
  background-color: #ee883d;
}
.changelog-item-type_new {
  background-color: #5fbe40;
}
.changelog-item-type_security {
  background-color: #ff3b16;
}
.changelog-item-type_dep {
  background-color: #ff3b16;
}
.changelog-item-type_inc {
  background-color: #ff3b16;
}
.changelog-highlight-fix {
  border-bottom: 4px solid #ee883d;
}
.changelog-highlight-inc {
  border-bottom: 4px solid #ff3b16;
}
.changelog-highlight-dep {
  border-bottom: 4px solid #ff3b16;
}
.changelog-highlight-sec {
  border-bottom: 4px solid #ff3b16;
}
.autocomplete-input {
  display: inline-block;
}
.form_profile {
  width: 50%;
}
.text-input_with-token {
  width: 30em;
}
.front-message {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2em;
  margin-right: 2em;
  width: 75%;
}
.front-header {
  font-family: Georgia, sans-serif;
  font-weight: 300;
  line-height: 55px;
  font-size: 48px;
  margin-top: 37px;
  margin-bottom: 18px;
}
.front-descriptions {
  margin-bottom: 3em;
}
.front-descriptions__item {
  list-style: none;
  width: 300px;
  padding-right: 22px;
  display: table-cell;
  font-size: 24px;
  line-height: 32px;
}
.front-steps__step {
  list-style: none;
}
.package-selector {
  margin-top: 20px;
}
.package-selector__item {
  display: inline-block;
  list-style: none;
  margin-right: 44px;
  margin-bottom: 20px;
  vertical-align: top;
}
.package-selector__version {
  list-style: none;
}
.package-selector__number {
  font-weight: bold;
}
.package-selector__date {
  color: #808080;
  margin-left: 10px;
}
.package-selector__versions {
  margin-bottom: 22px;
}
.package-select__track-button {
  background: #aaff72;
  border: 1px solid #7acf7a;
  border-radius: 3px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.package-select__track-button_tracked {
  background: #e8fed9;
  cursor: default;
}
.package-select__track-button:hover {
  background: #88dd50;
}
.package-select__track-button_tracked:hover {
  background: #e8fed9;
}
.package-select__ignore-button {
  background: #ffd738;
  border: 1px solid #d6ae71;
  border-radius: 3px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  margin-left: 10px;
}
.package-select__ignore-button:hover {
  background: #ddb516;
}
.package-selector__empty-digest {
  height: 200px;
}
.package-selector__empty-digest > p {
  font-size: 18px;
  line-height: 22px;
}
.package-selector__login-plate > p {
  font-size: 32px;
  background: #e4ffd1;
  line-height: 48px;
  padding-left: 10px;
  margin-left: -10px;
  border-radius: 5px;
  margin-top: 22px;
}
.large-login-button {
  text-decoration: none;
  color: #fefefe;
  background: #c50ca8;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 5px;
}
.large-login-button:hover {
  color: #fefefe;
  background: #0c82c5;
}
.new-package__greeting {
  font-size: 24px;
  line-height: 32px;
}
.new-package__url {
  font-weight: bold;
}
.new-package__fields-table {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  max-width: 800px;
}
.new-package__search-input,
.new-package__ignore-input {
  width: 100%;
}
.new-package__search-label,
.new-package__ignore-label {
  padding-top: 12px;
}
.new-package__search-label,
.new-package__search-input-wrap,
.new-package__namespace-name-cell {
  padding-right: 10px;
}
.new-package__ignore-label,
.new-package__ignore-input-wrap {
  padding-left: 10px;
}
.new-package__search-input,
.new-package__ignore-input {
  height: 140px;
}
.new-package__button-cell {
  vertical-align: bottom;
  text-align: right;
}
.new-package__save-tooltip {
  position: absolute;
  width: 200px;
  color: #fe7649;
}
.new-package__rename-warning {
  color: #fe7649;
}
.results-spin {
  height: 50px;
}
.results-spin__wrapper {
  position: absolute;
  width: 100%;
  max-width: 800px;
}
.namespace-name-cell__table {
  width: 100%;
}
.namespace-name-cell__namespace-cell,
.namespace-name-cell__name-cell {
  width: 50%;
}
.preview-error {
  color: #f00;
}
.namespace-name-cell__namespace-cell {
  padding-right: 10px;
  vertical-align: bottom;
}
.autocomplete-input {
  width: 100%;
}
.dropdown {
  display: inline-block;
}
.report-button {
  display: inline-block;
}
.popup {
  position: absolute;
  margin-top: 10px;
  z-index: 30000;
  width: 400px;
  background-color: #fff;
  padding: 10px;
  display: block;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 10px 20px -4px rgba(0,0,0,0.4);
}
.catalogue-namespaces {
  width: 100%;
  transition: width 500ms;
  background: #eee;
}
.catalogue-namespaces_transition {
  width: 200px;
}
.catalogue-namespaces_selected {
  display: table-cell;
  width: 200px;
}
.catalogue-namespace {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  width: 200px;
  transition: all ease 500ms;
}
.catalogue-namespace a {
  display: block;
  padding: 10px;
  transition: all ease 500ms;
}
.catalogue-namespace:hover {
  background: #44f;
}
.catalogue-namespace:hover a {
  color: #fff;
}
.catalogue-namespace_selected {
  background: #44f;
}
.catalogue-namespace_selected a {
  color: #fff;
  text-decoration: none;
}
.catalogue-namespace_selected a:before {
  content: "+";
  float: right;
  transform: rotate(45deg);
}
.catalogue-packages {
  display: none;
  list-style: outside none none;
  padding-left: 20px;
  border: 2px solid #eee;
}
.catalogue-packages li {
  display: inline-block;
  white-space: nowrap;
  min-width: 200px;
  line-height: 40px;
}
.catalogue-packages_visible {
  display: table-cell;
}
.test-fix1:before {
  content: "BLAH:";
  display: inline-block;
  width: 50px;
  height: 20px;
  border-bottom: 4px solid #f00;
}
.test-fix2 {
  background-color: #f77;
}
/* override link style from email-reset */
a {
  color: #15c;
  text-decoration: underline;
}
/* override blank links from common */
.package-changes__package-title > a {
  color: #15c;
  text-decoration: underline;
}
.package-version__number > a {
  color: #15c;
  text-decoration: underline;
}
/* other email styles */
.email-note {
  margin-top: 2em;
  font-size: 1.2em;
}
.email-signature {
  margin-top: 2em;
  font-size: 1.2em;
}
.email-unsubscribe {
  font-size: 0.75em;
  margin-top: 2em;
}
