.logo {
    &__text {
        font-size: 2em
        font-family: header-font
        color: yellow-color;
    }
    &__link {
        text-decoration: none;
        color: yellow-color;
        transition: all ease 500ms;  
    }
    &__image {
      position: relative;
      top: -16px;
      left: -6px;
    }
    &__link:hover {
        color: light-red-color;
    }
}

