.changelog-settings {
    &__tune {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        min-height: 200px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: rgba(255, 255, 255, 0.9);
        box-sizing: border-box;
        box-shadow: 0px 0px 20px gray;

        .react-tabs [role=tab][aria-selected=true] {
            background: rgba(255, 255, 255, 0.9);
        }

        &-panel {
            max-width: 800px;
        }
    }
}