.packages-list {
    list-style: outside none none
    font-size: 20px
    line-height: 20px

    > li {
        margin-bottom: 20px;
    }

    &__description {
        color: gray-text-color
        font-size: 15px;
        line-height: 20px;
        margin-top: 10px;
        margin-left: 20px
    }
}