.changelog-settings {
    &__tune {
        @media (min-height: 500px) {
            position: fixed;
            bottom: 0;
            box-shadow: 0px 0px 20px gray;
            transition: all 0.2s ease-in;
        }
        @media (max-height: 500px) {
            box-shadow: 0px -3px 10px gray;
            margin-top: 20px;
        }
        
        width: 100%;
        left: 0;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: rgba(255, 255, 255, 0.9);
        box-sizing: border-box;

        .react-tabs [role=tab][aria-selected=true] {
            background: rgba(255, 255, 255, 0.9);
        }

        &-panel {
            max-width: 800px;
        }
    }
}

preview-threshold-height = 500px

.preview-container {
    margin-top: 20px;

    @media (max-height: preview-threshold-height) {
        margin-bottom: 30px;
    }
        
    &__content {
        @media (max-height: preview-threshold-height) {
            max-height: 300px;
            overflow: hidden;
            border-bottom: 1px solid gray;
        }
    }
    
    &__show-more {
        padding-top: 5px;
        text-align: center;
        
        @media (min-height: preview-threshold-height) {
            display: none;
        }
        @media (max-height: preview-threshold-height) {
            display: block;
        }
    }
    
    > h1 {
        font-size: 30px;
        font-height: 30px;
    }
}

.clear-both {
    clear: both;
}

.progress-text {
    margin-bottom: 20px;
}

.preview-processing-log {
    list-style-position: inside;
    font-size: 20px;
    line-height: 30px;
}