/* dropdown */
.report-button {
    display: inline-block;

    &__dropdown {
        display: inline-block;
    }

    &__popup {
        position: absolute;
        margin-top: 10px;
        z-index: 30000;
        width: 400px;
        background-color: white;
        padding: 10px;
        display: block;
        border: 1px solid #CBCBCB;
        box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
        @media (max-width: 600px) {
            left: 0px;
        }
    }

}


