.content__snap {
    overflow: hidden;
    position: relative;
    max-height: 600px;
}
.content__snap-paranja {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    background-image: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    background-image: -ms-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    background-image: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    height: 50%;
    max-height: 100px;
}