.track-button {
    position: relative;
    display: inline-block;
    margin-right: 15px;

    &-container {
        display: inline-block;
    }

    &__message {
        width: 400px;
        position: absolute;
        top: -16px;
        left: 70px;
        font-size: 16px;
        color: gray;
        font: generic-font;
    }
}

