.tweet-button {
    display: inline-block;
    width: 75px;
    height: 28px;
    position: relative;
    top: 9px;
}
.tweet-button-small {
    display: inline-block;
    width: 55px;
    height: 20px;
    position: relative;
    top: 5px;
}