{% extends "allmychanges/new-base.html" %}

{% block login-plate %}{% endblock %}

{% block content %}
  <!-- для отображения загруженности ангажированности пользователя -->
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.5.2/cal-heatmap.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.5.2/cal-heatmap.css" />

  <h1 class="page-header">Info <a class="text-index" href="{% url 'admin-user-profile-edit' username=customer.username %}"><i class="fa fa-pencil"></i></a></h1>

  <dl class="user-contacts">
    <dt>Username</dt>
    <dd>{{ customer.username }}</dd>
    {% if customer.email %}
      <dt>Email</dt>
      <dd><a target="_blank" href="https://mail.yandex.ru/?uid={{ settings.YANDEX_UID }}#search?request={{ customer.email|urlencode }}">{{ customer.email }}</a> <a target="_blank" href="https://mail.yandex.ru/?uid={{ settings.YANDEX_UID }}#compose?to={{ customer.email|urlencode }}&subject=A%20question%20from%20AllMyChanges%20founder"><i class="fa fa-envelope-o"></i></a></dd>
    {% endif %}
    <dt>Joined at</dt>
    <dd>{{ customer.date_joined }}</dd>
    <dt>Last login at</dt>
    <dd>{{ customer.last_login }}</dd>
    <dt>Tracks</dt>
    <dd>{{ customer.tracked_changelogs }} ({{ customer.num_changelogs }})</dd>
    <dt>Send digests</dt>
    <dd>{{ customer.send_digest }}</dd>
    {% for name, url in customer.auth_through.items %}
      <dt>{{ name }}</dt>
      <dd><a href="{{ url }}" target="_blank">{{ url }}</a></dd>
    {% endfor %}
    {% if customer.slack_url %}
      <dt>Uses Slack</dt>
      <dd>Yes</dd>
    {% endif %}
    {% if customer.webhook_url %}
      <dt>Uses Webhook</dt>
      <dd>Yes</dd>
    {% endif %}
    {% if customer.opened_issues or customer.resolved_issues %}
      <dt>Issues</dt>
      <dd><a href="{% url 'issues' %}?username={{ customer.username }}">opened – {{ customer.opened_issues_count }}</a>, <a href="{% url 'issues' %}?username={{ customer.username }}&resolved=1">resolved – {{ customer.resolved_issues_count }}</a></dd>
    {% endif %}
    {% if customer.moderated_changelogs_str %}
      <dt>Moderates</dt>
      <dd>{{ customer.moderated_changelogs_str }}</dd>
    {% endif %}
    {% if customer.skips_changelogs_str %}
      <dt>Skips</dt>
      <dd>{{ customer.skips_changelogs_str }}</dd>
    {% endif %}

    {% for key, field in customer.custom_fields.items %}
      <dt>{{ key }}</dt>
      {% if field.type == 'email' %}
        <dd><a target="_blank" href="https://mail.yandex.ru/?uid={{ settings.YANDEX_UID }}#search?request={{ field.value|urlencode }}">{{ field.value }}</a> <a target="_blank" class="text-index" href="https://mail.yandex.ru/?uid={{ settings.YANDEX_UID }}#compose?to={{ field.value|urlencode }}&subject=A%20question%20from%20AllMyChanges%20founder"><i class="fa fa-envelope-o"></i></a></dd>
      {% endif %}
      {% if field.type == 'url' %}
        <dd><a target="_blank" href="{{ field.value }}">{{ field.value }}</a></dd>
      {% endif %}
      {% if field.type == 'text' %}
        <dd>{{ field.value }}</dd>
      {% endif %}
    {% endfor %}

  </dl>
  
  <h1 class="page-header">User activity</h1>
  <div id="cal-heatmap"></div>
  <script type="text/javascript">
    var activity_heat_map = {{activity_heat_map|safe}};
  </script>

  <h1 class="page-header">User history</h1>
  <table class="user-history table">
    <thead>
      <tr>
        <th>Created at</th>
        <th>Action</th>
        <th>User</th>
        <th>Light ID</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      {% for item in log %}
      <tr class="table user-history__raw">
        <td>{{ item.created_at|timesince }}</td>
        <td>{{ item.action }}</td>
        <td>{{ item.user }}</td>
        <td>{{ item.light_user }}</td>
        <td>{{ item.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
