{% extends "allmychanges/new-base.html" %}

{% block login-plate %}{% endblock %}

{% block content %}
  <!-- для отображения загруженности ангажированности пользователя -->
  <script src="/static/bower_components/d3/d3.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/bower_components/cal-heatmap/cal-heatmap.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/static/bower_components/cal-heatmap/cal-heatmap.css" />

  <h1 class="page-header">Info</h1>

  <dl class="user-contacts">
    <dt>Username</dt>
    <dd>{{ customer.username }}</dd>
    {% if customer.email %}
      <dt>Email</dt>
      <dd><a target="_blank" href="https://mail.yandex.ru/?uid={{ settings.YANDEX_UID }}#search?request={{ customer.email|urlencode }}">{{ customer.email }}</a> <a target="_blank" href="https://mail.yandex.ru/?uid={{ settings.YANDEX_UID }}#compose?to={{ customer.email|urlencode }}&subject=A%20question%20from%20AllMyChanges%20founder"><i class="fa fa-envelope-o"></i></a></dd>
    {% endif %}
    <dt>Joined at</dt>
    <dd>{{ customer.date_joined }}</dd>
    <dt>Send digests</dt>
    <dd>{{ customer.send_digest }}</dd>
    {% if customer.slack_url %}
      <dt>Uses Slack</dt>
      <dd>Yes</dd>
    {% endif %}
    {% if customer.webhook_url %}
      <dt>Uses Webhook</dt>
      <dd>Yes</dd>
    {% endif %}
  </dl>
  
  <h1 class="page-header">User activity</h1>
  <div id="cal-heatmap"></div>

  <script type="text/javascript">
    var cal = new CalHeatMap();
    var activity_heat_map = {{activity_heat_map|safe}};
    var year_ago = new Date();
    year_ago.setFullYear(year_ago.getFullYear() - 1);
    year_ago.setMonth(year_ago.getMonth() + 1);

    cal.init({domain: 'month',
              subDomain: 'day',
              tooltip: true,
              start: year_ago,
              data: activity_heat_map});
  </script>

    <h1 class="page-header">User history</h1>
    <table class="user-history table">
      <thead>
      <tr>
        <th>Created at</th>
        <th>Action</th>
        <th>User</th>
        <th>Light ID</th>
        <th>Description</th>
      </tr>
      </thead>

      <tbody>
      {% for item in log %}
      <tr class="table user-history__raw">
        <td>{{ item.created_at|timesince }}</td>
        <td>{{ item.action }}</td>
        <td>{{ item.user }}</td>
        <td>{{ item.light_user }}</td>
        <td>{{ item.description }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock content %}
