{% extends "allmychanges/new-base.html" %}
{% load widget_tweaks %}

{% block content %}
  <h1 class="page-header">Account settings</h1>
  <h2 class="page-subheader"><a name="notifications">Notifications</a></h2>

  <form action="." method="post" class="form form_profile">
    <table class="form__layout">
      <tr class="form__layout__row">
        <td class="form__layout__left-column"><label class="label">Email:</label></td>
        <td class="form__layout__right-column">
          {{ form.email|add_class:"text-input profile-form__email-field" }}
          <p class="form__layout__right-column form__help">We will mail you when new versions will be discovered.</p>
        </td>
      </tr>
      <tr class="form__layout__row">
        <td class="form__layout__left-column"><label class="label">Digest:</label></td>
        <td class="form__layout__right-column">
          {{ form.send_digest|add_class:"text-input profile-form__digest-field" }}
          <p class="form__layout__right-column form__help">We could prepare you a digest with
release notes updates on a daily or weekly basis.</p>
        </td>
      </tr>
      <tr class="form__layout__row">
        <td class="form__layout__left-column"><label class="label">Timezone:</label></td>
        <td class="form__layout__right-column">
          {{ form.timezone|add_class:"text-input profile-form__timezone-field" }}
          <p class="form__help">Digests will be sent at 9:00 in given timezone.</p>
        </td>
      </tr>
      <tr class="form__layout__row">
        <td class="form__layout__left-column"><label class="label">Slack integration:</label></td>
        <td class="form__layout__right-column">
          {{ form.slack_url|add_class:"text-input profile-form__slack-url" }}
          <p class="form__layout__right-column form__help">Enter Slack's URL here and we'll
publish all discovered versions in that channel.</p>
        </td>
      </tr>
      <tr class="form__layout__row">
        <td class="form__layout__left-column">
        <td class="form__layout__right-column">
          {% if from_registration %}
            <input type="hidden" name="from_registration" value="yes"/>
            <input type="submit" value="Proceed to the Digest" class="button _good _large"/>
          {% else %}
            <input type="submit" value="Save changes" class="button _good _large"/>
          {% endif %}
        </td>
      </tr>
    </table>

     {% csrf_token %}
  </form>
{% endblock content %}
