{% extends "allmychanges/base.html" %}
{% load widget_tweaks allmychanges_tags %}

{% block content %}
  <h1 class="page-header">Account settings</h1>
  <h2 class="page-subheader"><a name="notifications">Notifications</a></h2>

  <form action="." method="post" class="form form_profile">
    <input type="hidden" name="registration" value="{{ from_registration }}" />
    
    <table class="form__layout">
      <tr class="form__layout__row">
        <td class="form__layout__left-column"><label class="label">Email:</label></td>
        <td class="form__layout__right-column">
          {{ form.email|add_class:"mdl-textfield__input profile-form__email-field" }}
          {% if form.email.errors %}
            <p class="form__layout__right-column form__error">We need your email to deliver fresh release notes.</p>
          {% else %}
            <p class="form__layout__right-column form__help">We will mail you when new versions will be discovered.</p>
          {% endif %}
        </td>
      </tr>
      <tr class="form__layout__row">
        <td class="form__layout__left-column"><label class="label">How often:</label></td>
        <td class="form__layout__right-column">
          {{ form.send_digest|add_class:"mdl-textfield__input profile-form__digest-field" }}
          <ul class="form__layout__right-column form__help">
            <li><b>Every day</b> – you'll receive updates in the morning (only if some releases were discovered in previous day).</li>
            <li><b>Every week</b> – you'll receive updates on mondays (only if some releases were discovered during previous week).</li>
            <li><b>Never</b> – we'll not send you any emails about new releases. Use other notification channels such as RSS, Slack or web hooks.</li>
          </ul>
        </td>
      </tr>
      <tr class="form__layout__row">
        <td class="form__layout__left-column"><label class="label">Timezone:</label></td>
        <td class="form__layout__right-column">
          {{ form.timezone|add_class:"mdl-textfield__input profile-form__timezone-field" }}
          <p class="form__help">Digests will be sent at 9:00 in given timezone.</p>
        </td>
      </tr>
      <tr class="form__layout__row">
        <td class="form__layout__left-column"><label class="label">Slack integration:</label></td>
        <td class="form__layout__right-column">
          <div class="slack-url-container profile-form__slack-url"
               data-url="{{ form.slack_url.value }}"
               data-error="{{ form.slack_url.errors|first }}"
               />
          <p class="form__layout__right-column form__help">Enter Slack's URL here and we'll
publish all discovered versions in that channel. Need help? Read <a href="{% url 'help' topic='slack/' %}">more about Slack</a> integration!</p>
        </td>
      </tr>
      <tr class="form__layout__row">
        <td class="form__layout__left-column"><label class="label">WebHook integration:</label></td>
        <td class="form__layout__right-column">
          <div class="webhook-url-container"
               data-url="{{ form.webhook_url.value }}"
               data-error="{{ form.webhook_url.errors|first }}"
               />
          <p class="form__layout__right-column form__help">Enter a webhook's URL here and we'll
POST all discovered versions there. Need help? Read <a href="{% url 'help' topic='webhooks/' %}">more about using WebHooks</a> and about format of the posted data in our documentation.</p>
        </td>
      </tr>
      <tr class="form__layout__row">
        <td class="form__layout__left-column"><label class="label">RSS integration:</label></td>
        <td class="form__layout__right-column">
          <input type="text" class="mdl-textfield__input" readonly="readonly" value="{{request|site_url}}{% url 'rss-feed' feed_hash=user.rss_hash %}"/>
          <p class="form__layout__right-column form__help">Copy this URL into you favorite RSS reader.</p>
        </td>
      </tr>
      <tr class="form__layout__row">
        <td class="form__layout__left-column">
        <td class="form__layout__right-column" style="text-align: right">
          {% if from_registration %}
            <input type="hidden" name="from_registration" value="yes"/>
            <input type="submit" value="Proceed to the Digest" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"/>
          {% else %}
            <input type="submit" value="Save changes" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"/>
          {% endif %}
        </td>
      </tr>
    </table>

     {% csrf_token %}
  </form>
{% endblock content %}
