{% extends "allmychanges/new-base.html" %}

{% block content %}
{% if can_edit %}
<div ng-controller="AddNewCtrl"
     data-preview-id="{{ preview.id }}"
     data-changelog-id="{{ changelog.id }}"
     data-changelog-source="{{ changelog.source }}"
{% if changelog.name %}
     data-changelog-name="{{ changelog.name }}"{% endif %}
{% if changelog.namespace %}
     data-changelog-namespace="{{ changelog.namespace }}"{% endif %}
     data-search-list="{{ changelog.search_list }}"
     data-ignore-list="{{ changelog.ignore_list }}"
     data-mode="{{ mode }}"
     >

{% if mode == 'edit' %}
  <label for="changelog_source">Changelog's source:</label>
  <input ng-model="changelog_source" name="changelog_source" type="text" placeholder="Changelog's source URL" class="text-input"/>
{% else %}
  {% verbatim %}
     <p class="new-package__greeting" ng-hide="tracked">There is no package with source url <a class="new-package__url" ng-bind="changelog_source" ng-href="{{changelog_source}}"></a> yet.<br/>Please, fill in a namespace and name to track it.</p>
     <p class="plate" ng-show="tracked" ng-cloak>Horay! The package was added and is available <a ng-href="/p/{{namespace}}/{{name}}/">on a separate page</a>.</p>
     <p class="plate plate_{{message.tags}}" ng-repeat="message in messages">{{message.message}}</p>
  {% endverbatim %}
{% endif %}

     {% if not request.user.is_authenticated %}<p class="plate plate_warning" ng-show="tracked" ng-cloak>To continue tracking of this package, please, login through <a href="{% url "social:begin" "github" %}">GitHub</a> or <a href="{% url "social:begin" "twitter" %}">Twitter</a>.</p>{% endif %}

     <table class="new-package__fields-table" ng-hide="tracked">
       <tr>
        <td class="new-package__namespace-name-cell">
          <table class="namespace-name-cell__table">
            <tr>
              <td class="namespace-name-cell__namespace-cell">
                <div class="input">
                  <label class="input__label">Namespace:</label><span class="input__error" ng-if="namespace_error" ng-bind="namespace_error"></span><br/>
                  <div angucomplete-alt class="autocomplete-input" placeholder="Namespace (e.g. python, node)" pause="100" remote-url="/v1/autocomplete-namespaces/?q=" remote-url-data-field="results" title-field="namespace" minlength="1" override-suggestions="true" selected-object="selected_namespace_unused" input-class="text-input"  input-changed="namespace_changed" {% if changelog.namespace %}initial-value="{{changelog.namespace}}"{% endif %}/></div>
                </div>
              </td>
              <td class="namespace-name-cell__name-cell">
                <div class="input">
                  <label class="input__label">Name:</label><span class="input__error" ng-if="name_error" ng-bind="name_error"></span><br/>
                  <input ng-model="name" type="text" placeholder="Package name" ng-change="schedule_validation()" class="text-input"/>
                </div>
              </td>
            </tr>
            <tr>
              <td ng-show="is_name_or_namespace_were_changed()" class="new-package__rename-warning" colspan="2">
                Beware, renaming this package will broke all badge codes already deployed!</td>
            </tr>
          </table>
        </td>
        <td class="new-package__button-cell">
        </td>
       </tr>
       <tr>
         <td class="new-package__search-label">Search in these dirs and files:</td>
         <td class="new-package__ignore-label">Ignore these dirs and files:</td>
       </tr>
       <tr>
         <td class="new-package__search-input-wrap"><textarea placeholder="Enter here a directories where parser should search for changelogs. By default parser searches through all sources and sometimes it consider a changelog file which are not changelogs. Using this field you could narrow the search." class="new-package__search-input" name="search_in" ng-model="search_list" ng-disabled="waiting"></textarea></td>
         <td class="new-package__ignore-input-wrap"><textarea placeholder="Here you could enter a list of directories to ignore during the changelog search. This is another way how to prevent robot from taking changelog-like data from wierd places." class="new-package__ignore-input" name="ignore" ng-model="ignore_list" ng-disabled="waiting"></textarea></td>
       </tr>
       <tr>
         <td colspan="2">
             {% verbatim %}
             <p class="plate plate_{{message.tags}}" ng-repeat="message in messages">{{message.message}}</p>
             {% endverbatim %}
         </td>
       </tr>
       <tr class="ng-cloak">
        <td class="new-package__button-cell" colspan="2">
          <input type="submit" class="button _large magic-prompt__apply" value="Update Preview" ng-click="update_preview()" ng-disabled="is_apply_button_disabled()"/>
          {% if mode == 'edit' %}
            <input type="submit" class="button _good _large magic-prompt__apply" ng-value="save_button_title" ng-click="save()" ng-disabled="!can_save()"/>
          {% else %}
            <input type="submit" class="button _good _large magic-prompt__apply" ng-value="save_button_title" ng-click="save_and_track()" ng-disabled="!can_track()"/>
          {% endif %}
            <span class="new-package__save-tooltip" ng-show="!can_save() && !saving">Please, update preview to ensure that we able to get some data about this packages's changelog.</span>
        </td>
       </tr>
     </table>

     <div ng-show="waiting"><div class="progress-text">Please, wait while we search and process it's changelog.</div>
       <div class="results-spin"><div class="results-spin__wrapper"></div></div>
     </div>

     <div ng-show="results_ready && !tracked">
       <h1>This is the latest versions for this package</h1>
       <div class="changelog-preview"></div>
     </div>

     <div ng-show="problem">
       <div class="changelog-problem"></div>
     </div>
</div>
{% else %}
  {% comment %}can_edit == False{% endcomment %}
  <p class="plate plate_warning">You are not a moderator of this package. There is no way to become a moderator automatically.<br/>If you feel you need it, write an email to <a href="mailto:help@allmychanges.com">help@allmychanges.com</a> and we'll help you.</p>
{% endif %}
{% endblock content %}
