{% extends "allmychanges/new-base.html" %}
{% load staticfiles %}


{% block html-title %}{{ title }} – {{ block.super }}{% endblock %}

{% block content %}
  <link href="{% static 'metricsgraphics/metricsgraphics.css' %}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js" charset="utf-8"></script>
  <script src="{% static 'metricsgraphics/metricsgraphics.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'highcharts/highcharts.js' %}" type="text/javascript" charset="utf-8"></script>

  <h1 class="page-header">{{ title }}</h1>

  <h2 class="page-subheader">Users, joined in last two weeks</h2>

  {% if users %}
  <table class="table">
    <tr>
      <th>Date Joined</th>
      <th>Username</th>
      <th>Email</th>
      <th>Track Changelogs</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{user.date_joined|timesince}}</td>
      <td><a href="{% url 'user-history' username=user.username %}">{{user.username}}</a></td>
      <td>{{user.email}}</td>
      <td>{{user.num_changelogs}}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>Nobody joined in last two weeks :(<br/>
    We need to work on Marketing!</p>
  {% endif %}

  <h2 class="page-subheader">Retention</h2>
  <div class="graphs"></div>

  <div class="legend"></div>
  <script>
var data = {{ data|safe }};
var data_legend = {{ data_legend|safe }};
var markers = {{ markers|safe }};
var series = [];

for(var i=0;i<data.length;i++) {
    var item = {"name": i,
                "data": R.map(R.prop('value'), data[i])};
    series.push(item);
    data[i] = MG.convert.date(data[i], 'date');
}
markers = MG.convert.date(markers, 'date');

<!-- var dt_format = d3.time.format("%Y-%m-%d"); -->
<!-- for(var i=0; i < markers.length; i++) { -->
<!--     markers[i][0] = dt_format.parse(markers[i][0]); -->
<!-- } -->


MG.data_graphic({
  data: data,
  legend: data_legend,
  legend_target: ".legend",
  markers: markers,
  width: 800,
  height: 400,
  <!-- xax_count: 12, -->
  xax_format: d3.time.format('%b'),
  target: ".graphs",
  x_accessor: "date",
  y_accessor: "value",
  interpolate: "linear",
  full_width: true
});
  </script>

  <h2>Retention Highcharts</h2>
  <div id="retention-graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <script>
    $(function () {
    console.log('Creating chart');
    $('#retention-graph').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'User Retention by Quater Cohorts'
        },
        xAxis: {
            categories: data_legend,
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Active users'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' user'
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: series
    });
});
</script>
{% endblock content %}
