{% extends "allmychanges/new-base.html" %}


{% block content %}
  <h1 class="page-header">Namespaces</h1>

  <ul class="catalogue-namespaces">
  {% for idx, namespace in namespaces %}
    <li class="catalogue-namespace" data-idx="{{ idx }}"><a href="#test">{{ namespace }}</a></li>
  {% endfor %}
  </ul>

  {% for idx, items in changelogs %}
    {% for idx2, name, url in items %}
      <ul id="catalogue-packages-{{ idx }}" class="catalogue-packages">
        <li><a href="{{ url }}">{{ name }}</a></li>
      </ul>
    {% endfor %}
  {% endfor %}

  <script>
    $('.catalogue-namespace a').click(function(ev) {
      ev.preventDefault();
      var namespace = $(this).parent();
      var namespaces = $('.catalogue-namespaces');

      var has_class = namespace.hasClass('catalogue-namespace_selected');
      console.log(namespace.data('idx'));

      $('.catalogue-namespace_selected').removeClass('catalogue-namespace_selected');
      $('.catalogue-packages_visible').removeClass('catalogue-packages_visible');

      if (has_class) {
        namespace.removeClass('catalogue-namespace_selected');
        namespaces.removeClass('catalogue-namespaces_selected');
      } else {
        namespace.addClass('catalogue-namespace_selected');
        if (namespaces.hasClass('catalogue-namespaces_selected')) {
            $('#catalogue-packages-' + namespace.data('idx')).addClass('catalogue-packages_visible');
        } else {
            namespaces.addClass('catalogue-namespaces_transition');
            window.setTimeout(function() {
               namespaces.removeClass('catalogue-namespaces_transition');
               namespaces.addClass('catalogue-namespaces_selected');
               $('#catalogue-packages-' + namespace.data('idx')).addClass('catalogue-packages_visible');
            }, 1000);
        }
      }
    });
  </script>

{% endblock content %}
