{% extends "allmychanges/new-base.html" %}

{% block html-title %}{{ title }} – {{ block.super }}{% endblock %}

{% block content %}
  <h1 class="page-header">{{ title }}</h1>

  <ul class="catalogue-namespaces">
  {% for idx, namespace in namespaces %}
    <li class="catalogue-namespace" data-idx="{{ idx }}"><a href="#{{ namespace }}">{{ namespace }}</a></li>
  {% endfor %}
  </ul>

  {% for idx, items in changelogs %}
    <ul id="catalogue-packages-{{ idx }}" class="catalogue-packages">
      {% for idx2, name, url in items %}
        <li><a href="{{ url }}">{{ name }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}

  <script>
    $('.catalogue-namespace a').click(function(ev) {
      ev.preventDefault();
      window.location.hash = $(this).attr('href');

      var namespace = $(this).parent();
      var namespaces = $('.catalogue-namespaces');

      var has_class = namespace.hasClass('catalogue-namespace_selected');

      $('.catalogue-namespace_selected').removeClass('catalogue-namespace_selected');
      $('.catalogue-packages_visible').removeClass('catalogue-packages_visible');

      if (has_class) {
        namespace.removeClass('catalogue-namespace_selected');
        namespaces.removeClass('catalogue-namespaces_selected');
      } else {
        namespace.addClass('catalogue-namespace_selected');
        if (namespaces.hasClass('catalogue-namespaces_selected')) {
            $('#catalogue-packages-' + namespace.data('idx')).addClass('catalogue-packages_visible');
        } else {
            namespaces.addClass('catalogue-namespaces_transition');
            window.setTimeout(function() {
               namespaces.removeClass('catalogue-namespaces_transition');
               namespaces.addClass('catalogue-namespaces_selected');
               $('#catalogue-packages-' + namespace.data('idx')).addClass('catalogue-packages_visible');
            }, 500);
        }
      }
    });

    /* we need this to open tab if a namespace was specified in URL's fragment */
    /* # sign is removed because I heard that some browsers include it
       as part for the window.location.hash, but others don't */
    var hash = window.location.hash.replace('#', '');
    $(document).find(".catalogue-namespace a[href=#" + hash + "]").click();
  </script>

{% endblock content %}
