{% extends "allmychanges/base.html" %}

{% block html-title %}{{ category|title }} – {{ block.super }}{% endblock %}

{% block content %}
  <h1 class="page-header">
    <div class="page-header__package-title" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{% url 'categories'%}" itemprop="url">
        <span itemprop="title">All</span>
      </a>
      → 
      <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{% url 'category' category=category %}" itemprop="url">
          <span itemprop="title">{{category}}</span>
        </a>
      </div>
    </div>
  </h1>

  {% include "allmychanges/blocks/package-list.html" %}

{% endblock content %}
