{% extends "allmychanges/new-base.html" %}

{% block content %}
  <h1>All Your Changes</h1>

  {% include "allmychanges/digest-partial.html" with changes=today_changes title="Today" %}
  {% include "allmychanges/digest-partial.html" with changes=week_changes title="This week" %}
  {% include "allmychanges/digest-partial.html" with changes=month_changes title="This month" %}
  {% include "allmychanges/digest-partial.html" with changes=ealier_changes title="More than month ago" %}
{% endblock content %}
