{% load cache md2 %}
  {% if changes %}
  <h2 class="grouped-changes-title">{{title}}</h2>
  <ul class="grouped-changes">
    {% for package in changes %}
    <li class="package-changes">
      <h3 class="package-changes__package-title"><a href="{% url 'package' namespace=package.namespace name=package.name %}">{{package.namespace}}/{{package.name}}</a></h3>
      <ul class="package-changes__version">
        {% include "allmychanges/blocks/package-changes.html" %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
