{% extends "allmychanges/base.html" %}


{% block content %}

<!-- TODO: remove this page because it will not be used anymore -->
<h1 class="page-header">Edit track list</h1>
<h2 class="page-subheader"><a href="{% url "digest" %}" class="button _good">View digest</a></h2>

{% verbatim %}
<div ng-controller="DigestBuilderCtrl">
  <ul class="digest-source">
    <li ng-repeat="item in items" class="digest-source__item" digest-line package="item">
    </li>
  </ul>

  <p>
    <form ng-submit="add_item()">
      <div angucomplete-alt class="autocomplete-input" placeholder="Namespace (e.g. python, node)" pause="100" selected-object="selected_namespace" remote-url="/v1/autocomplete-namespaces/?q=" remote-url-data-field="results" title-field="name" minlength="1" override-suggestions="true" value="new_item.namespace" input-class="digest-source__namespace-field"/></div>

      <div angucomplete-alt class="autocomplete-input" placeholder="Package name" pause="100" selected-object="selected_name" remote-url="/v1/autocomplete-package-name/?q=" remote-url-data-field="results" title-field="name" minlength="1" override-suggestions="true" value="new_item.name"/></div>

      <div angucomplete-alt class="autocomplete-input" placeholder="Source repository" pause="100" selected-object="selected_source" remote-url="/v1/autocomplete-source/?q=" remote-url-data-field="results" title-field="name" minlength="0" override-suggestions="true" remote-url-request-formatter="get_source_guessing_params" value="new_item.source" input-class="digest-source__source-field"/></div>

      <input type="submit" ng-disabled="!(new_item.namespace && new_item.name && new_item.source)" value="Add"/>

      <p ng-if="error_message">{{ error_message }}</p>
    </form>
  </p>
</div>
{% endverbatim %}

{% endblock content %}
