{% extends "allmychanges/new-base.html" %}


{% block extra_head %}
  <script src="/static/allmychanges/js/digest.js" type="text/javascript" charset="utf-8"></script>
{% endblock extra_head %}


{% block content %}

<h1 class="page-header">Watched packages</h1>
<h2 class="page-subheader"><a href="{% url "digest" %}">Go to digest</a></h2>

{% verbatim %}
<div ng-controller="DigestBuilderCtrl">
  <ul class="digest-source">
    <li ng-repeat="item in items" class="digest-source__item">
      <p>
        <input type="text" ng-model="item.namespace"/>
        <input type="text" ng-model="item.name"/>
        <input type="text" ng-model="item.source"/>
        <button ng-click="remove(item.resource_uri)">x</button> 
        <span class="digest-source__problem" ng-if="item.problem">{{item.problem}}</span>
      </p>
    </li>
  </ul>

  <p>
    <input ng-model="new_item.namespace" type="text" placeholder="Namespace (python, node, etc.)"/>
    <input ng-model="new_item.name" type="text" placeholder="Package name"/>
    <input ng-model="new_item.source" type="text" placeholder="Source repository"/>
    <button ng-click="add_item()" ng-disabled="!(new_item.namespace && new_item.name && new_item.source)">Add</button>
  </p>
</div>
{% endverbatim %}

{% endblock content %}
