{% extends "allmychanges/new-base.html" %}


{% block content %}
  <h1 class="page-header">{{ title }}</h1>
  <h2 class="page-subheader">{{ issues.count }} from {{ total_issues }}{% if show_back_button %} <a href="{% url "issues" %}">back</a>{% endif %}</h2>
  {% if issues %}
    <table class="table">
      <thead>
        <tr>
          <th>№</th>
          <th>Date</th>
          <th>Type</th>
          <th>Package</th>
          <th>Comment</th>
          <th>User</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for issue in issues %}
        <tr>
          <td><a href="{% url "issue-detail" pk=issue.id %}">#{{ issue.id }}</a></td>
          <td style="white-space: nowrap">{{ issue.created_at|date:"Y-m-d H:i" }}</td>
          <td><a href="{{ current_url }}type={{ issue.type }}">{{ issue.type }}</a></td>
          <td><a href="{{ current_url }}namespace={{ issue.changelog.namespace }}&name={{ issue.changelog.name }}">{{ issue.changelog.namespace }}/{{ issue.changelog.name }}</a></td>
          <td>{{ issue.comment }}</td>
          <td><a href="{% url 'admin-user-profile' username=issue.user.username %}">{% firstof issue.user "" %}</a></td>
          <td style="white-space: nowrap">{% if not issue.resolved_at %}<span class="resolve-button-container" data-issue-id="{{ issue.id }}"></span>{% endif %}<a class="button" href="{{ issue.changelog.get_absolute_url }}">View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No issues</p>
  {% endif %}
{% endblock content %}
