{% load staticfiles allmychanges_tags compress %}
<!DOCTYPE html>
<html{% block ng-app %}{% endblock %}>
<head>
    <title>{% block html-title %}AllMyChanges.com, release notes tracker{% endblock %}</title>
    {% block top_of_head %}{% endblock top_of_head %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% compress css %}
    <link href="{% static 'allmychanges/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'allmychanges/css/allmychanges.css' %}" rel="stylesheet">
    {% endcompress %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="//use.typekit.net/qyd4ddd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body class="page">
    <div class="package-changes">
    <ul class="package-changes__version">
      {% include "allmychanges/blocks/package-changes.html" %}
    </ul>
  </div>

</body>
</html>
