{% load staticfiles allmychanges_tags compress %}
<!DOCTYPE html>
<html{% block ng-app %}{% endblock %}>
<head>
    <title>{% block html-title %}AllMyChanges.com{% endblock %}</title>


    {% compress css %}
    <link href="{% static 'allmychanges/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'allmychanges/css/allmychanges.css' %}" rel="stylesheet">
    <link href="{% static 'angular/angucomplete-alt.css' %}" rel="stylesheet">
    {% endcompress %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {% block anjular-js %}
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js" type="text/javascript" charset="utf-8">
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.min.js" type="text/javascript" charset="utf-8">
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js" type="text/javascript" charset="utf-8">
      </script>
      <script src="{% static 'angular/angucomplete-alt.js' %}" type="text/javascript" charset="utf-8">
      </script>
    {% endblock %}


    {% compress js %}
      <script src="/static/bower_components/react/react.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/react/JSXTransformer.js" type="text/javascript" charset="utf-8"></script>

      <script src="/static/bower_components/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/sticky/jquery.sticky.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/waypoints/lib/jquery.waypoints.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/jquery.cookie/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/typehead.js/dist/typeahead.jquery.js" type="text/javascript" charset="utf-8"></script>
      <!-- используется для UserStory -->
      <script src="/static/bower_components/underscore/underscore.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/UserStory/lib/UserStory.js" type="text/javascript" charset="utf-8"></script>

      <script src="/static/spin.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/allmychanges/js/app.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/allmychanges/js/landing-page.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/allmychanges/js/add-new.js" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}


      <script type="text/javascript" src="//use.typekit.net/qyd4ddd.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

      <script type="text/javascript">
        UserStory.configure({
          on: ['*'],
          off: ['foo.bar'],
          logger: function (message, section){
            console.log('My custom log', message, section);
          }
        });
      </script>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body class="page">
      {% block header %}
      <div class="header">
        <div class="logo">
          <h1 class="logo__text"><a class="logo__link" href="/">AllMyChanges.com</a></h1>
        </div>

        {% block login-plate %}
        <div class="login-plate">
          {% if request.user.is_authenticated %}
            <div class="login-plate__greeting">Hi, <a class="login-plate__profile-link" href="{% url "account-settings" %}">{{ request.user }}</a>!</div> <a class="login-plate__logout-link button" href="{% url "logout" %}?next={{ request.get_full_path }}">Logout</a>
          {% else %}
            <span class="login-plate__buttons">Login with: <a href="{% url "social:begin" "github" %}">GitHub</a> or <a href="{% url "social:begin" "twitter" %}">Twitter</a></span>
          {% endif %}
        </div>
        {% endblock %}
        <div class="clear"></div>

        {% block magic-prompt %}
        <div class="magic-prompt-container"></div>
        {% endblock %}

        <ul class="site-menu">
          <li class="site-menu__item{% if menu_add_new %} site-menu__selected-item{% endif %}"><a href="{% url 'add-new' %}">Add&amp;Track</a></li>
          <li class="site-menu__item{% if menu_catalogue %} site-menu__selected-item{% endif %}"><a href="{% url 'catalogue' %}">Catalogue</a></li>
          <li class="site-menu__item{% if menu_digest %} site-menu__selected-item{% endif %}"><a href="{% url 'digest' %}">Digest</a></li>
          <li class="site-menu__item{% if menu_help %} site-menu__selected-item{% endif %}"><a href="/help/">Help</a></li>
        </ul>
      </div>
      {% endblock header %}

      <div class="content">
        {% block no-email-warning %}
          {% if user.is_authenticated and not user.email %}
            <div class="plate plate_warning">To receive notifications about new versions, <a href="{% url "account-settings" %}#notifications">setup email</a>.</div>
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock content %}
      </div>

      {% block footer %}
      <div class="footer">
        <p>
          {{ num_trackers }} people are tracking {{ num_tracked_changelogs }} changelogs here.
          Follow us on <a href="https://twitter.com/allmychanges">Twitter</a>.
          Report bugs to <a href="https://github.com/AllMyChanges/allmychanges.com/issues">GitHub</a>.
        </p>
      </div>
      {% endblock footer %}


{% if settings.METRIKA_ID %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
var tracked_vars = {{ tracked_vars|json|safe }} || {};

(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter = new Ya.Metrika({
                    id: {{ settings.METRIKA_ID }},
                    webvisor: true,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    params: tracked_vars});
        } catch(e) {
        }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") +
        "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/{{ settings.METRIKA_ID }}"
                    style="position:absolute; left:-9999px;" alt=""
                    /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}

{% if settings.ANALYTICS_ID %}
<!-- Google.Analytics counter -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ settings.ANALYTICS_ID }}', 'allmychanges.com');

  {% for key, value in tracked_vars.items %}
    ga('set', '{{key}}', '{{value}}');
  {% endfor %}

  ga('send', 'pageview');

</script>
<!-- /Google.Analytics counter -->
{% endif %}

{% compress js %}
<script src="/static/allmychanges/js/react-site-compiled.js" type="text/javascript" charset="utf-8"></script>
{% endcompress %}
</body>
</html>
