{% extends "allmychanges/new-base.html" %}

{% block content %}
<div class="front-message">
  <h1 class="front-header">Are you a developer?</h1>
  <p>If you are a developer then you definitely were in a situation when your product become a vulnerable because of issues in a third party library. How did you know about a problem? From other people? From twitter? Or after a hacker has fired a <code>DROP TABLE…</code>x?</p>
</div>

<div class="front-message">
  <h1 class="front-header">There is a better way to track changelogs.</h1>
  <p>We think there should be another way to discover vulerabilities and issues in the libraries you use. You only need to track their changelogs and wi'll send you all information about new versions with bugfixes or critical updates regularly!</p>
</div>

<h1 class="front-header">How does it work?</h1>

<ul class="front-descriptions">
<li class="front-descriptions__item">Our robot parses and normalizes changelogs. Every new version is analized and marked as critical or non-critical.</li>
<li class="front-descriptions__item">Some large projects are analized by human experts and may contain additional recommendation on migration and update.</li>
<li class="front-descriptions__item">You receive a digest with version numbers and description what was changed and is it critical or not to upgrade.</li>
</ul>

<h1 class="front-header">Try to track some projects now</h1>

{% verbatim %}
<div ng-controller="LandingPageCtrl">
  <ul class="package-selector">
    <li ng-repeat="package in packages" class="package-selector__item" package-selector-line package="package">
    </li>
  </ul>

  <h1 class="front-header package-selector__next">To continue, track at least five projects…</h1>

  <div class="package-selector__empty-digest" ng-if="tracked_len &lt; 5">
    <p>Here you'll see a digest example when will track at least five packages.</p>
  </div>

  <div class="package-selector__login-plate" ng-if="tracked_len &gt;= 5">
    <p>To save your results, <a href="/login/github/" class="large-login-button">login with Github</a> or <a href="/login/twitter/" class="large-login-button">Twitter</a>!</p>
  </div>
  <div class="package-selector__digest" ng-if="tracked_len &gt;= 5">
    <p>Here is you digest:</p>
  </div>
  <div class="package-selector__login-plate" ng-if="tracked_len &gt;= 5">
    <p>To save your results, <a href="/login/github/" class="large-login-button">login with Github</a> or <a href="/login/twitter/" class="large-login-button">Twitter</a>!</p>
  </div>
</div>
{% endverbatim %}

{% endblock content %}
