{% extends "allmychanges/new-base.html" %}

{% block content %}
<p class="front-message">Если ты разработчик, то наверняка сталкивался с ситуацией, когда продукт над которым ты работаешь, становится уязвим из за проблем в сторонеей библиотеке. Как ты узнавал о проблеме? От знакомых? Из блогов? После того, как злоумышленник запустил DROP TABLE…?</p>

<p class="front-message">Мы думаем, что должен быть способ быстрее и проще узнавать об уязвимостях и проблемах в библиотеках, которые ты используешь. Для этого надо всего лишь подписаться на их ченьджлоги и ты будешь получать информацию о выходе критических исправлений незамедлительно!</p>

<h1 class="front-header">Как это работает?</h1>

<ul class="front-descriptions">
<li class="front-descriptions__item">так как логи ведутся в разных форматах, наш робот распознает их и приводит к единому виду.</li>
<li class="front-descriptions__item">каждая новая версия анализируется и помечается автоматически, как критическая или нет.</li>
<li class="front-descriptions__item">некоторые крупные проекты анализируются вручную и могут содержать дополнительные примечания.</li>
</ul>

<h1 class="front-header">Попробовать, как это работает, можно даже без регистрации.</h1>

<ul class="front-steps">
<li class="front-steps__step">
  <h2 class="step-header">Шаг 1: Полистай каталог и подпишись на популярные фреймворки и библиотеки.</h2>
</li>
<li class="front-steps__step">
  <h2 class="step-header">Шаг 2: Посмотри результат.</h2>
</li>
<li class="front-steps__step">
  <h2 class="step-header">Шаг 3: Чтобы сохранить результат и получить возможность подписываться на любые библиотеки, залогинься через GitHub.</h2>
</li>
</ul>

{% endblock content %}
