{% extends "allmychanges/new-base.html" %}
{% load md2 %}
{% load allmychanges_tags %}


{% block content %}
  <h1 class="page-header">{{package.namespace}}/{{package.name}}</h1>
  <h2 class="page-subheader"><a href="{% url "digest" %}">Back to the digest</a>, <a href="{{package.source|remove_source_prefix}}">go to sources</a></h2>

  <dl class="package-metadata">
    <dt>Badge for README:</dt>
    <dd><share-badge data-package="'{{package.user.username}}/{{package.namespace}}/{{package.name}}'"/></dd>
    <dt>Last update was:</dt>
    <dd>{{package.changelog.updated_at|timesince}} ago</dd>
    <dt>Time to next update:</dt>
    <dd>{{package.changelog.next_update_at|timeuntil}}</dd>

    <dt>Source:</dt>
    <dd>{% if package.changelog.filename %}{{package.changelog.filename}}{% else %}VCS{% endif %}</dd>
    {% if package.changelog.problem %}
      <dt>Problem:</dt>
      <dd>{{package.changelog.problem}}</dd>
    {% endif %}
  </dl>

  <div class="package-changes">
    <ul class="package-changes__version">
        {% for version in package.changelog.versions.all %}
        <li class="package-version">
          <h4 class="package-version__number"><a name="{{version.number}}">{{version.number}}</a></h4>
          <h5 class="package-version__date">{% if version.unreleased %}Unreleased{% else %}{% if version.date %}{{version.date}}{% else %}{{version.discovered_at.date }}{% endif %}{% endif %}</h5>
          {% for section in version.sections.all %}
            {% if section.notes %}<p class="package-version__notes">{{section.notes|capfirst|markdown}}</p>{% endif %}
            {% if section.items.count %}
              <ul class="package-version__items">
                {% for item in section.items.all %}
                <li class="package-version__section-item package-version__section-item_{{item.type}}">{{item.text|capfirst|markdown}}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
  </div>
{% endblock content %}
