{% extends "allmychanges/new-base.html" %}
{% load md2 %}
{% load allmychanges_tags %}

{% block html-title %}{{package.namespace}}/{{package.name}}'s changelog at {{block.super}}{% endblock %}
{% block extra_head %}
{{ block.super }}
<meta content="Package {{package.name}}'s changelog." name="description"></meta>
<meta content="{{package.namespace}},{{package.name}},changelog,version,latest,release notes,release" name="keywords"></meta>
{% endblock %}

{% block content %}
  <h1 class="page-header">{{package.namespace}}/{{package.name}} <a href="{% url "edit-package" namespace=namespace name=name %}" class="button" title="Tune namespace, name, source and other parameters for this changelog."><i class="fa fa-cog fa-lg" style="margin-right: 5px"></i>Tune</a> <a href="{{package.source|remove_source_prefix}}" class="button" title="Go to package's sources"><i class="fa fa-external-link-square fa-lg" style="margin-right: 5px"></i>Source</a> <div class="report-button" data-changelog-id="{{package.changelog.id}}"></div> <div class="track-button-container" data-changelog-id="{{package.changelog.id}}" data-tracked="{{already_tracked|lower}}"></div></h1>

  <dl class="package-metadata">
    <dt>Badge for README:</dt>
    <dd>
      <div class="share-badge-container"
           data-namespace="{{package.namespace}}"
           data-name="{{package.name}}">Share Badge Should be Here</div>
    </dd>
    {% if package.show_itunes_badge %}
    <dt>Install application:</dt>
    <dd>
      <a href="{{ package.source }}" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
    </dd>
    {% endif %}
    <dt>Last update was:</dt>
    <dd>{{package.changelog.updated_at|timesince}} ago</dd>
    <dt>Time to next update:</dt>
    <dd>{{package.changelog.next_update_at|timeuntil}}</dd>

    {% if package.changelog.problem %}
      <dt>Problem:</dt>
      <dd>{{package.changelog.problem}}</dd>
    {% endif %}
      <dt>Versions:</dt>
      <dd>
  <ul class="version-links">
    {% for version in package.versions %}
      <li class="version-links__item version-links__item-{{ version.number|replace_dots }}"><a href="#{{ version.number }}">{{ version.number }}</a></li>
    {% endfor %}
  </ul>
      </dd>
  </dl>

  <div class="package-changes">
    <ul class="package-changes__version">
      {% include "allmychanges/blocks/package-changes.html" %}
    </ul>
  </div>
  <script>
    $(document).ready(function(){
      $(".version-links").sticky({
        topSpacing:0,
        className: "version-links__sticky",
        wrapperClassName: "version-links__wrapper"
      });
      $(".package-version__number a").waypoint({
        handler: function (direction) {
          $(".version-links__item").removeClass("version-links__selected-item");
          $(".version-links__item-" + this.element.text.replace(/\./g, "-")).addClass("version-links__selected-item");
        },
        offset: "30%"
      });
    });
  </script>
{% endblock content %}
