{% extends "allmychanges/new-base.html" %}
{% load md2 %}
{% load allmychanges_tags %}


{% block content %}
  <h1 class="page-header">{{package.namespace}}/{{package.name}}</h1>
  <h2 class="page-subheader"><a href="{% url "digest" %}">Back to the digest</a>, <a href="{{package.source|remove_source_prefix}}">go to sources</a>{% if request.user.username == 'svetlyak40wt' %}
      {% if code_version == 'v1' %}
        <a href="?code_version=v2">New parser</a>
      {% else %}
        <a href="?code_version=v1">Old parser</a>
      {% endif %}
    {% endif %}</h2>

  <dl class="package-metadata">
    <dt>Badge for README:</dt>
    <dd><share-badge data-username="'{{package.user.username}}'"
                     data-namespace="'{{package.namespace}}'"
                     data-name="'{{package.name}}'"/></dd>
    <dt>Last update was:</dt>
    <dd>{{package.changelog.updated_at|timesince}} ago</dd>
    <dt>Time to next update:</dt>
    <dd>{{package.changelog.next_update_at|timeuntil}}</dd>

    <dt>Source:</dt>
    <dd>{% if package.changelog.filename %}{{package.changelog.filename}}{% else %}VCS{% endif %}</dd>
    {% if package.changelog.problem %}
      <dt>Problem:</dt>
      <dd>{{package.changelog.problem}}</dd>
    {% endif %}
  </dl>

  <div class="package-changes">
    <ul class="package-changes__version">
      {% include "allmychanges/blocks/package-changes.html" %}
    </ul>
  </div>
{% endblock content %}
