{% extends "allmychanges/new-base.html" %}
{% load staticfiles %}


{% block html-title %}{{ title }} – {{ block.super }}{% endblock %}

{% block content %}
  <link href="{% static 'metricsgraphics/metricsgraphics.css' %}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js" charset="utf-8"></script>
  <script src="{% static 'metricsgraphics/metricsgraphics.js' %}" type="text/javascript" charset="utf-8"></script>

  <h1 class="page-header">{{ title }}</h1>

  <div class="graphs"></div>

  <div class="legend"></div>
  <script>
var data = {{ data|safe }};
var data_legend = {{ data_legend|safe }};
var markers = {{ markers|safe }};

for(var i=0;i<data.length;i++) {
    data[i] = MG.convert.date(data[i], 'date');
}
markers = MG.convert.date(markers, 'date');

<!-- var dt_format = d3.time.format("%Y-%m-%d"); -->
<!-- for(var i=0; i < markers.length; i++) { -->
<!--     markers[i][0] = dt_format.parse(markers[i][0]); -->
<!-- } -->


MG.data_graphic({
  title: "Retention",
  description: "Retention by monthly cohorts.",
  data: data,
  legend: data_legend,
  legend_target: ".legend",
  markers: markers,
  width: 800,
  height: 400,
  <!-- xax_count: 12, -->
  xax_format: d3.time.format('%b'),
  target: ".graphs",
  x_accessor: "date",
  y_accessor: "value",
  interpolate: "monotone"
});
  </script>

{% endblock content %}
