{% load staticfiles allmychanges_tags compress %}
<!DOCTYPE html>
<html{% block ng-app %}{% endblock %}>
<head>
    <title>{% block html-title %}AllMyChanges.com, release notes tracker{% endblock %}</title>
    {% block top_of_head %}{% endblock top_of_head %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% compress css %}
    <link href="{% static 'allmychanges/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'allmychanges/css/allmychanges.css' %}" rel="stylesheet">
    <link href="{% static 'angular/angucomplete-alt.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/intro.js/introjs.css' %}" rel="stylesheet">
    {% endcompress %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {% block anjular-js %}
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js" type="text/javascript" charset="utf-8">
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.min.js" type="text/javascript" charset="utf-8">
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js" type="text/javascript" charset="utf-8">
      </script>
      <script src="{% static 'angular/angucomplete-alt.js' %}" type="text/javascript" charset="utf-8">
      </script>
    {% endblock %}


    {% compress js %}
      <script src="/static/bower_components/react/react.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/react/JSXTransformer.js" type="text/javascript" charset="utf-8"></script>

      <script src="/static/bower_components/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/sticky/jquery.sticky.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/waypoints/lib/jquery.waypoints.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/jquery.cookie/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/typehead.js/dist/typeahead.jquery.js" type="text/javascript" charset="utf-8"></script>
      <!-- используется для UserStory -->
      <script src="/static/bower_components/underscore/underscore.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/bower_components/UserStory/lib/UserStory.js" type="text/javascript" charset="utf-8"></script>

      <script src="/static/spin.min.js" type="text/javascript" charset="utf-8"></script>

      <!-- этот pubsub используется в реактовских компонентах -->
      <script src="/static/bower_components/pubsub-js/src/pubsub.js" type="text/javascript" charset="utf-8"></script>

      <!-- используем для привлечения внимания к элементам на странице -->
      <script src="/static/bower_components/intro.js/intro.js" type="text/javascript" charset="utf-8"></script>

      <!-- для того, чтобы показывать intro только после 15 секунд неактивности -->
      <script src="/static/bower_components/idle.js/build/idle.js" type="text/javascript" charset="utf-8"></script>

      <!-- старые ангуларовские вьюхи от которых надо избавиться -->
      <script src="/static/allmychanges/js/app.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/allmychanges/js/landing-page.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/allmychanges/js/add-new.js" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}


      <script type="text/javascript" src="//use.typekit.net/qyd4ddd.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

      <script type="text/javascript">
        // этот username может использоваться при инициализации различных
        // компонентов в views/*.js
        var username = "{{ request.user.username }}";

        UserStory.configure({
          on: ['*']
        });
      </script>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body class="page">
     {% block full-content %}
      <div class="content">
        {% block content %}{% endblock content %}
      </div>
     {% endblock full-content %}

{% compress js %}
<script src="/static/allmychanges/js-compiled/react-site.js" type="text/javascript" charset="utf-8"></script>
{% endcompress %}
</body>
</html>
