{% load staticfiles allmychanges_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block html-title %}AllMyChanges.com, release notes tracker{% endblock %}</title>
    {% block top_of_head %}{% endblock top_of_head %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'allmychanges/css/reset.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'allmychanges/css/allmychanges.css' %}" rel="stylesheet">

    <script type="text/javascript" src="//use.typekit.net/qyd4ddd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body class="page">
     {% block full-content %}
      <div class="content content__snap">
        <div class="content__snap-paranja"></div>
        {% block content %}{% endblock content %}
      </div>
     {% endblock full-content %}
</body>
</html>
