{% extends "allmychanges/base.html" %}

{% block content %}
  <h1 class="page-header">You are tracking these packages</h1>

  {% if changelogs %}
    {% include "allmychanges/blocks/package-list.html" with show_namespace=1 %}

    {% if suggest_namespaces %}
      <p>Hmm, you are following only few projects. Go and find more packages about {% for namespace in suggest_namespaces %}{% if not forloop.first %}{% if not forloop.last %}, {% else %} and {% endif %}{% endif %}<a href="{% url 'category' category=namespace %}">{{namespace}}</a>{% endfor %}.</p>
    {% endif %}
  {% else %}
    <p>Hmm, there isn't any packages in your track list. Go and follow some in the <a href="{% url 'categories' %}">Catalogue</a>.</p>
  {% endif %}
  
{% endblock content %}
