{% extends "allmychanges/base.html" %}
{% load allmychanges_tags %}

{% block content %}

{% if title %}
  <h1 class="page-header {% if step3 %}first-step__header{% endif %}">{{ title }} {% if not changelog.trackers.count or changelog.is_unsuccessful %}<form action="{% url 'delete-project' pk=changelog.id %}" method="POST" class="form _inline"><button type="submit" value="Delete" class="mdl-button mdl-js-button mdl-button--fab mdl-button--accent md-18"><i class="material-icons">delete</i></button>{% csrf_token %}</form>{% endif %}</h1>
{% endif %}

{% if changelog %}

{% if can_edit %}
<div class="add-new-container"
     data-preview-id="{{ preview.id }}"
     data-changelog-id="{{ changelog.id }}"
     data-source="{{ preview.source }}"
     data-downloader="{% firstof preview.downloader '' %}"
     data-downloader-settings="{{ preview.downloader_settings|json }}"
{% if changelog.name %}
     data-name="{{ preview.name }}"{% endif %}
{% if changelog.namespace %}
     data-namespace="{{ preview.namespace }}"{% endif %}
{% if changelog.namespace %}
     data-description="{{ preview.description }}"{% endif %}
     data-search-list="{{ preview.search_list }}"
     data-ignore-list="{{ preview.ignore_list }}"
     data-xslt="{{ preview.xslt }}"
     data-mode="{{ mode }}"
     data-guessed-sources="{{ guessed_sources|json }}"
     ></div>
{% else %}
  {% comment %}can_edit == False{% endcomment %}
  <p class="plate plate_warning">You are not a moderator of this package. There is no way to become a moderator automatically.<br/>If you feel you need it, write an email to <a href="mailto:support@allmychanges.com">support@allmychanges.com</a> and we'll help you.</p>
{% endif %}

{% else %}{% comment %} changelog is None {% endcomment %}
  <div class="add-page__container">
    <p class="add-page__text">Please enter an URL pointing to a repository or direct link to a changelog file.</p>

    <form method="GET" action="." class="add-page__form">
      <input type="text" placeholder="Repository's URL or direct link" name="url" class="add-page__input"/>
      <input type="submit" value="Add" class="button _large _bad add-page__submit-button"/>
      <div class="clear-both"></div>
    </form>

    <p class="add-page__text">This could be something like that:</p>

    <ul class="add-page__examples">
      <li class="add-page__example"><a href="https://github.com/rust-lang/rust">https://github.com/rust-lang/rust</a></li>
      <li class="add-page__example"><a href="https://bitbucket.org/runeh/anyjson">https://bitbucket.org/runeh/anyjson</a></li>
      <li class="add-page__example"><a href="http://git.haproxy.org/git/haproxy.git/">http://git.haproxy.org/git/haproxy.git/</a></li>
      <li class="add-page__example"><a href="https://www.virtualbox.org/wiki/Changelog">https://www.virtualbox.org/wiki/Changelog</a></li>
    </ul>

    <p class="add-page__text">You know, we are able to work with git and mercurial repositories and with direct links
      to files, accessable via http. Just try it!</p>
  </div>
{% endif %}{% comment %} END changelog is None {% endcomment %}
{% endblock content %}

