{% extends "allmychanges/new-base.html" %}

{% block login-plate %}{% endblock %}

{% block content %}
  <div class="box box_coming-soon">
    <h1 class="page-header page-header_coming-soon">User history</h1>
    <table class="user-history">
      <thead>
      <tr>
        <th>Created at</th>
        <th>Action</th>
        <th>User</th>
        <th>Light ID</th>
        <th>Description</th>
      </tr>
      </thead>

      <tbody>
      {% for item in log %}
      <tr class="table user-history__raw">
        <td>{{ item.created_at }}</td>
        <td>{{ item.action }}</td>
        <td>{{ item.user }}</td>
        <td>{{ item.light_user }}</td>
        <td>{{ item.description }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
