{% load md2 %}

{% for version in package.versions %}
<li class="package-version">
  <h4 class="package-version__number"><a href="{% url 'package' username=current_user.username namespace=package.namespace name=package.name %}#{{version.number}}">{{version.number}}</a></h4>
  <h5 class="package-version__date">{% if version.unreleased %}Unreleased{% else %}{% if version.date %}{{version.date}}{% else %}{{ version.discovered_at }}{% endif %}{% endif %}</h5>
  {% if user.username == "svetlyak40wt" and version.filename %}<h6 class="package-version__source">Source: {{ version.filename }}</h6>{% endif %}
  {% for section in version.sections %}
  {% if section.notes %}<p class="package-version__notes">{{section.notes|capfirst|markdown}}</p>{% endif %}
  {% if section.items %}
  <ul class="package-version__items">
    {% for item in section.items %}
    <li class="package-version__section-item package-version__section-item_{{item.type}}">{{item.text|capfirst|markdown}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
</li>
{% endfor %}
