{% load md2 allmychanges_tags %}

{% for version in package.versions %}
<li class="package-version">
  <h4 class="package-version__number"><a href="{% url 'package' username=package.user.username namespace=package.namespace name=package.name %}#{{version.number}}">{{version.number}}</a></h4>
  <h5 class="package-version__date">{% if version.unreleased %}Unreleased{% else %}{% if version.date %}Released at {{version.date}}{% else %}Discovered at {{ version.discovered_at }}{% endif %}{% endif %}</h5>
  {% if user.username == "svetlyak40wt" and version.filename %}<h6 class="package-version__source">Source: {{ version.filename }}</h6>{% endif %}
  {% for section in version.sections %}
  {% if section.notes %}<p class="package-version__notes">{{section.notes|process_cve|capfirst|markdown}}</p>{% endif %}
  {% if section.items %}
  <ul class="package-version__items">
    {% for item in section.items %}
    {% if version.code_version == 'v1' %}
      <li class="package-version__section-item"><span class="changelog-item-type changelog-item-type_{{item.type}}">{{item.type|slice:":3"}}</span> {{item.text|process_cve|capfirst|markdown}}</li>
    {% else %}
      <li class="package-version__section-item"><span class="changelog-item-type changelog-item-type_{{item.type}}">{{item.type|slice:":3"}}</span> {{item.text|safe}}</li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
</li>
{% endfor %}
