{% extends "allmychanges/base.html" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<form class="landing-ru1" action="." method="POST">
   <p><span class="highlight">Are you tired of sorting out errors</span> after dependencies update?</p>

   <p><span class="highlight">AllMyChanges will help</span> to track changes.</p>

   <p>Subscribe to become one of the first users and <span class="highlight">get a 3-month subscription for free</span>!</p>

   <p><span class="nowrap">Email: <input type="text" name="email" class="text-input"/> <input type="submit" value="subscribe" class="button {{ button_cls }}"/></span></p>

   <p class="highlight">How does it work?<br/>
   -----------------</p>

   <p>
   * <span class="highlight">You choose</span> which libraries to track.<br/>
   * Our <span class="highlight">robot regularly checks</span> updates.<br/>
   * It <span class="highlight">sends a digest</span> to your email together with news.<br/>
   </p>


   <p class="highlight">Advantages:<br/>
   ------------</p>

   <p>
   * The digest <span class="highlight">contains</span> not only <span class="highlight">the list of the new versions</span> but also their <span class="highlight">description</span>.<br/>
   * <span class="highlight">You are always aware</span> of latest features and critical updates.<br/>
   * You get information quickly and in a <span class="highlight">single format</span>.<br/>
   </p>

   <p>
   Become one of the first users and <span class="highlight">get a 3-month subscription for free!</span><br/></p>

   <p><span class="nowrap">Email: <input type="text" name="email" class="text-input"/> <input type="submit" value="subscribe" class="button {{ button_cls }}"/></span></p>

   {{ form.come_from }}
   {% csrf_token %}
</form>
{% endblock content %}
