{% extends "allmychanges/base.html" %}

{% block header %}
<div class="header">
        <div class="logo">
          <h1 class="logo__text ios-promo__logo">AllMyChanges.com</h1>
        </div>
        <div class="clear"></div>
</div>
{% endblock %}


{% block content %}
<div class="landing-for-ios">
  <div class="landing-for-ios__text-wrapper">
    <p class="ios-promo__text">1. Every app in AppStore has competitors.</p>
    <p class="ios-promo__text">2. Smart people are watching what their competitors do.</p>
    <p class="ios-promo__text">3. Subscribe to their release notes here!</p>
  </div>

  <div class="ios-promo-container"></div>
</div>
{% endblock content %}
