{% extends "allmychanges/new-base.html" %}

{% block header %}
<div class="header">
        <div class="logo">
          <h1 class="logo__text ios-promo__logo">AllMyChanges.com</h1>
        </div>
        <div class="clear"></div>
</div>
{% endblock %}


{% block content %}
<div class="landing-for-ios">
  <p class="ios-promo__text"><span class="ios-promo__highlight">Most product managers track competitors' release notes</span>
installing their apps on a phone. Did you know, there is more
convenient and smarter way to do this?</p>
  <p class="ios-promo__text">All you need is to <span class="ios-promo__highlight">enter your competitors' app names</span> here.</p>
  <p class="ios-promo__text">And you'll <span class="ios-promo__highlight">save efforts and time</span> reading their release notes in a mailbox or <em>Slack</em> chat!</p>

  <div class="ios-promo-container"></div>
</div>
{% endblock content %}
