.first-step__container {
  max-width: 800px;
}

.first-step__help {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.first-step__label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
}

.first-step__header {
  border-bottom: 4px solid #5CB85C;
  display: inline-block;
}

.first-step__submit-buttons {
  float: right;
  a {
    margin-left: 20px;
  }
}


.first-step__input {
  position: relative;
}

.first-step__input .errorlist {
  position: absolute;
  list-style: none;
  margin-top: -15px;
  color: red;
}

.first-step__list {
  list-style-position: inside;
  font-size: 20px;
  line-height: 30px;
}

.first-step__list-item {
  background: #F2F0F0;
  padding: 10px;
  border: 1px solid #E3E1E1;
  border-radius: 5px;
  list-style-type: none;
  padding-left: 60px;
  position: relative;
  margin-bottom: 30px;

  h2 {
    margin-top: -25px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #555;
  }
}

.first-step__list-item:before {
  font-size: 40px;
  position: relative;
  left: -40px;
  top: 10px;
  margin-right: -20px;
}
.first-step__list-item:nth-child(1):before {
  content: "1";
}
.first-step__list-item:nth-child(2):before {
  content: "2";
}