.front-message {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 2em;
    
    p {
      margin-bottom: 22px;
    }

    &__box {
        border: 5px solid yellow-color;
        border-radius: 5px;
        padding: 20px;
        padding-top: 0px;
        @media (min-width: 600px) {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    &__carl {
        font-size: 16px;
        position: relative;
        text-decoration: none;
        top: -4px;
    }
}

level-1-header() {
    font-family: Georgia, sans-serif;
    font-weight: 300;
    @media (min-width: 600px) {
        font-size: 48px;
        line-height: 55px;
    }
    @media (max-width: 600px) {
        font-size: 30px;
        line-height: 40px;
    }
    margin-top: 37px;
    margin-bottom: 18px;
}

level-2-header() {
    level-1-header();

    @media (min-width: 600px) {
        font-size: 32px;
        line-height: 44px;
    }
    @media (max-width: 600px) {
        font-size: 24px;
        line-height: 32px;
    }
    margin-top: 30px;
    margin-bottom: 14px;
}

level-3-header() {
    level-1-header();

    font-size: 24px;
    line-height: 32px;
    margin-top: 23px;
    margin-bottom: 11px;
}

level-4-header() {
    level-1-header();

    font-size: 18px;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 7px;
}

.front-header {
    level-1-header();
}

.front-subheader {
    level-2-header();
    @media (min-width: 1150px) {
        width: 50%;
    }
}

.front-steps__step {
    list-style: none;
}

