.front-message {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 2em;
    margin-right: 2em;
    width: 75%;
    
    p {
      margin-bottom: 22px;
    }
}

level-1-header() {
    font-family: Georgia, sans-serif;
    font-weight: 300;
    @media (min-width: 600px) {
        font-size: 48px;
        line-height: 55px;
    }
    @media (max-width: 600px) {
        font-size: 30px;
        line-height: 40px;
    }
    margin-top: 37px;
    margin-bottom: 18px;
}

level-2-header() {
    level-1-header();

    font-size: 32px;
    line-height: 44px;
    margin-top: 30px;
    margin-bottom: 14px;
}

level-3-header() {
    level-1-header();

    font-size: 24px;
    line-height: 32px;
    margin-top: 23px;
    margin-bottom: 11px;
}

level-4-header() {
    level-1-header();

    font-size: 18px;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 7px;
}

.front-header {
    level-1-header();
}

.front-steps__step {
    list-style: none;
}

.package-selector {
    margin-top: 20px;

    &__title {
        white-space: nowrap;
    }
    &__item {
        display: inline-block;
        width: 220px;
        overflow: hidden;
        list-style: none;
        margin-right: 44px;
        margin-bottom: 20px;
        vertical-align: top;
    }
    &__version {
        list-style: none;
        white-space: nowrap;
    }
    &__number {
        font-weight: bold;
        display: box;
    }
    &__date {
        color: gray;
    }
    &__versions {
        margin-bottom: 22px;
    }
}

.package-select__track-button {
}

.package-select__track-button_tracked {
}

.package-select__track-button:hover {
}

.package-select__track-button_tracked:hover {
}

.package-select__ignore-button {
    margin-left: 10px;
}

.package-select__ignore-button:hover {
}


.package-selector__empty-digest {
    height: 200px;
    > p {
        font-size: 18px;
        line-height: 22px;
    }
}

.package-selector__login-plate > p {
    font-size: 32px;
    line-height: 48px;
    margin-top: 22px;
}