.help {
    h1 {
        font-family: header-font;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    h2 {
        font-family: header-font;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    p, li {
        font-size: 16px;
        line-height: 25px;
    }
    p {
        margin-top: 20px;
    }
    li {
        list-style-position: inside;
    }
    ul, ol {
        margin-top: 20px;
    }
}