.landing-for-ios {
    margin-top: 65px;
}

.ios-promo {
    width: 100%;
    box-sizing: border-box;
    position: relative;

    &__text {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
        color: rgb(85, 85, 85);
    }
    &__highlight {
        font-weight: bold;
        color: rgb(34, 34, 34);
    }
    &__input {
        font-size: 24px;
        line-height: 40px;
        border: 1px solid gray;
        padding: 0 5px;
        width: 100%;
    }
    &__no-matches {
        padding: 10px;
    }
    &__selected-apps {
        margin-top: 10px;
    }
    &__selected-app {
       list-style: none;
       display: inline-block;
       margin-right: 10px;
    }
    &__thumb {
        width: 57px;
        height: 57px;
    }
    &__suggest-item {
        td {
            vertical-align: top;
        }
        &-name {
            padding-left: 10px;
        }
        &-description {
            padding-left: 10px;
            color: gray;
        }
    }

    &__digest {
        position: relative;
    }
    .twitter-typeahead {
        width: 100%;
    }
    .tt-dropdown-menu {
        width: 100%;
        background: white;
        border: 1px solid gray;
        box-shadow: 0 0 3px #111;
        margin-top: 10px;
    }
    .tt-suggestion {
        border-bottom: 1px solid gray;
        font-size: 15px;
        line-height: 20px;
        padding: 10px;
    }
    .tt-cursor {
        background: #88F;
    }
    .tt-suggestion:last-of-type {
        border-bottom: none;
    }
}

