.page-header {
  &__package-title {
       div {display: inline;}
  }

  &__buttons {
      margin-bottom: 15px;
      position: relative;
      top: -5px;
      .button {
          margin-bottom: 15px;
      }
  }
}