@require "forms"
@require "boxes"
@require "typography"
@require "header"
@require "subscription"
@require "utils"
@require "landing-ru"
@require "pages/*"



body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.3em;
    background-color: #F6F5F3;
}
        


.digest-source {
    list-style-type: none;
    padding-left: 0px;
}

.content {
    margin-left: 100px;
    margin-right: 100px;
}

.footer {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 2em;
    margin-bottom: 1em;
    border-top: 1px solid #ddd;
    padding-top: 1em;
    color: gray;
}

.digest-source__problem {
    color: red;
    margin-left: 1px;
}


.clear {
    clear: both;
}


.grouped-changes-title {
    font-size: 1.5em;
}


.package-changes {
    list-style: none;
    clear: both;

    &__package-title {
        font-size: 1.2em;
    }
}

.package-version {
    list-style: none;

    &__number {
        display: inline-block;
        margin-top: 1em;
    }
    &__date {
        display: inline;
        color: gray;
    }
    &__items {
        margin-left: 1em;
        margin-top: 0.5em;
    }
    &__section-item {
        list-style: disc inside;
        
        > p:first-child {
            margin-left: 0;
        }
        > p {
            margin-left: 1em;
        }
    }

    &__notes {
        margin-left: 1em;
        margin-top: 0.5em;
    }
}

.grouped-changes-title {
    margin-top: 1em;
}

.package-changes__package-title {
    margin-top: 1em;
    display: inline-block;
}

.email-note {
    margin-top: 2em;
    font-size: 1.2em;
}

.email-signature {
    margin-top: 2em;
    font-size: 1.2em;
}

.email-unsubscribe {
    font-size: 0.75em;
    margin-top: 2em;
}

.package-metadata {
  > dt {
    float: left;
    clear:left;
    color: gray + #333;
  }
  > dd {
    float: left;
    margin-left: 0.6em;
    
    color: gray;
  }
}

.package-version__section-item p:first-child {
    margin-left: 0;
}
.package-version__section-item p {
    margin-left: 1em;
}

/* autocomplete */
.autocomplete-input {
    display: inline-block;
}