@require "utils"

.page {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #FFF;
}

body.email {
    background-color: #FFF;
}

.digest-source {
    list-style-type: none;
    padding-left: 0px;

    &__namespace-field {
        width: 15em;
    }
    &__source-field {
        width: 25em;
    }
    &__problem {
        color: red;
    }
    &__waiting {
        color: blue;
    }
    &__version {
        color: green;
    }
}

.content {
    margin-left: 100px;
    margin-right: 100px;
}

.footer {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 2em;
    margin-bottom: 1em;
    border-top: 1px solid #ddd;
    padding-top: 1em;
    color: gray;
}

.clear {
    clear: both;
}


.grouped-changes-title {
    font-size: 1.5em;
    font-family: header-font;
    font-weight: 300;
    margin-top: 1em;
}


.package-changes {
    list-style: none;
    clear: both;

    &__package-title {
        font-size: 1.2em;
        font-family: header-font;
        > a {
            black-link()
        }
    }
}

.package-version {
    list-style: none;

    &__number {
        display: inline-block;
        margin-top: 1em;
        font-family: header-font
        > a {
          black-link()
        }
    }
    &__date {
        display: inline;
        color: gray;
        font-family: header-font
    }
    /* Remove this after migration to one blob versions */
    &__items {
        margin-left: 1em;
        margin-top: 0.5em;
        font-family: generic-font;
        font-weight: 300;
    }
    /* Remove this after migration to one blob versions */
    &__section-item {
        list-style: none;
        line-height: 1.667em;

        > :first-child {
            margin-left: 0;
        }
        > p,
        > blockquote,
        > dl,
        > div {
            margin-left: 38px;
        }

        ul, ol {
           margin-left: 16px;
        }
    }

    &__description {
        margin-left: 1em;
        margin-top: 0.5em;
        font-size: 16px;
        line-height: 22px;
        font-family: generic-font;
        font-weight: 300;

        & ul {
            // we need outside and left-margin here because this way
            // multiline items looks better
            list-style-position: outside;
            margin-left: 16px;

            margin-top: 10px;
            margin-bottom: 10px;
        }

        & li > ul {
            margin-left: 20px;
            margin-top: 0px;
        }

        h1 {
           font-size: 26px;
           font-family: header-font;
           line-height: 40px;
           margin-top: 16px;
           margin-bottom: 6px;
        }

        h2 {
           font-size: 22px;
           font-family: header-font;
           line-height: 22px;
           margin-top: 16px;
           margin-bottom: 6px;
        }
        h3 {
           font-size: 16px;
           font-family: header-font;
           line-height: 22px;
           font-variant: small-caps;
           margin-top: 16px;
           margin-bottom: 6px;
        }
        h4 {
           font-size: 16px;
           font-family: header-font;
           line-height: 22px;
           font-variant: small-caps;
           margin-top: 16px;
           margin-bottom: 6px;
           color: gray;
        }
        h1 tt, h2 tt, h3 tt, h4 tt {
           font-weight: normal;
        }
        p {
           font-size: 16px;
           line-height: 22px;
           margin-bottom: 11px;
        }
        p:last-child {
           margin-bottom: 0px;
        }
        /* show code blocks nicely */
        pre {
           font-size: 12px;
           background-color: #FAFAFA;
           border: 1px solid #DFDFDF;
           padding: 11px;
        }
        /* hide Django's permalinks */
        a[title="Permalink to this headline"] {
           display: none;
        }

    }

    /* Remove this after migration to one blob versions */
    &__notes {
        margin-left: 1em;
        margin-top: 0.5em;
        font-size: 16px;
        line-height: 22px;
        font-family: generic-font;
        font-weight: 300;

        ul, ol {
           margin-left: 16px;
        }

        h2 {
           font-size: 22px;
           font-family: header-font;
           line-height: 22px;
           margin-top: 16px;
           margin-bottom: 6px;
        }
        h3 {
           font-size: 16px;
           font-family: header-font;
           line-height: 22px;
           font-variant: small-caps;
           margin-top: 16px;
           margin-bottom: 6px;
        }
        h4 {
           font-size: 16px;
           font-family: header-font;
           line-height: 22px;
           font-variant: small-caps;
           margin-top: 16px;
           margin-bottom: 6px;
           color: gray;
        }
        h1 tt, h2 tt, h3 tt, h4 tt {
           font-weight: normal;
        }
        p {
           font-size: 16px;
           line-height: 22px;
           margin-bottom: 11px;
        }
        p:last-child {
           margin-bottom: 0px;
        }
        /* show code blocks nicely */
        pre {
           font-size: 12px;
           background-color: #FAFAFA;
           border: 1px solid #DFDFDF;
           padding: 11px;
        }
        /* hide Django's permalinks */
        a[title="Permalink to this headline"] {
           display: none;
        }
    }
}

.package-changes__package-title {
    margin-top: 1em;
    display: inline-block;
}


.package-metadata {
  > dt {
    float: left;
    clear:left;
    color: gray + #333;
  }
  > dd {
    float: left;
    margin-left: 0.6em;
    
    color: gray;
  }
}

// TODO remove after migration to a single blob versions
.changelog-item-type {
      background-color: purple;
      content: text;
      font-size: 12px;
      font-family: Courier New;
      padding: 2px 4px;
      border-radius: 3px;
      color: white;
      margin-right: 8px;
      position: relative;
      top: -2px;
}

.changelog-item-type_fix {
      background-color: #ee883d;
}

.changelog-item-type_new {
      background-color: #5fbe40;
}

.changelog-item-type_security {
      background-color: #ff3b16;
}

.changelog-item-type_dep {
      background-color: #ff3b16;
}

.changelog-item-type_inc {
      background-color: #ff3b16;
}

// leave only this after migration to a single blob versions
.changelog-highlight {
    &-fix {
        border-bottom: 4px solid #ee883d;
    }
    &-inc {
        border-bottom: 4px solid #ff3b16;
    }
    &-dep {
        border-bottom: 4px solid #ff3b16;
    }
    &-sec {
        border-bottom: 4px solid #ff3b16;
    }
}


/* autocomplete */
.autocomplete-input {
    display: inline-block;
}


/* profile settings */
.form_profile {
    width: 50%;
}


/* token page */
.text-input_with-token {
    width: 30em;
}



/* index page */
.front-message {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 2em;
    margin-right: 2em;
    width: 75%;
}

level-1-header() {
    font-family: Georgia, sans-serif;
    font-weight: 300;

    line-height: 55px;
    font-size: 48px;
    margin-top: 37px;
    margin-bottom: 18px;
}

level-2-header() {
    level-1-header();

    font-size: 32px;
    line-height: 44px;
    margin-top: 30px;
    margin-bottom: 14px;
}

level-3-header() {
    level-1-header();

    font-size: 24px;
    line-height: 32px;
    margin-top: 23px;
    margin-bottom: 11px;
}

level-4-header() {
    level-1-header();

    font-size: 18px;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 7px;
}

.front-header {
    level-1-header();
}

.front-descriptions {
    margin-bottom: 3em;
}
.front-descriptions__item {
    list-style: none;
    width: 300px;
    padding-right: 22px;
    display: table-cell;
    font-size: 24px;
    line-height: 32px;
}
.front-steps__step {
    list-style: none;
}

.package-selector {
    margin-top: 20px;
}

.package-selector__item {
    display: inline-block;
    list-style: none;
    margin-right: 44px;
    margin-bottom: 20px;
    vertical-align: top;
}

.package-selector__version {
    list-style: none;
}

.package-selector__number {
    font-weight: bold;
}

.package-selector__date {
    color: gray;
    margin-left: 10px;
}

.package-selector__versions {
    margin-bottom: 22px;
}

.package-select__track-button {
    background: #AAFF72;
    border: 1px solid #7ACF7A;
    border-radius: 3px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.package-select__track-button_tracked {
    background: #E8FED9;
    cursor: default;
}

.package-select__track-button:hover {
    background: #AAFF72 - #222;
}

.package-select__track-button_tracked:hover {
    background: #E8FED9;
}

.package-select__ignore-button {
    background: #FFD738;
    border: 1px solid #D6AE71;
    border-radius: 3px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    margin-left: 10px;
}

.package-select__ignore-button:hover {
    background: #FFD738 - #222;
}


.package-selector__empty-digest {
    height: 200px;
    > p {
        font-size: 18px;
        line-height: 22px;
    }
}

.package-selector__login-plate > p {
    font-size: 32px;
    background: #E4FFD1;
    line-height: 48px;
    padding-left: 10px;
    margin-left: -10px;
    border-radius: 5px;
    margin-top: 22px;
}

.large-login-button {
    text-decoration: none;
    color: #FEFEFE;
    background: rgb(197, 12, 168);
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 5px;
}

.large-login-button:hover {
    color: #FEFEFE;
    background: rgb(12, 130, 197);
}

/* end of the index page */


/* start of the new package page */

.new-package {
    &__greeting {
        font-size: 24px;
        line-height: 32px;
    }
    &__url {
        font-weight: bold;
    }

    &__fields-table {
        margin-top: 24px;
        margin-bottom: 24px;
        width: 100%;
        max-width: 800px
    }
    &__search-input,
    &__ignore-input {
        width: 100%;
    }
    &__search-label,
    &__ignore-label{
        padding-top: 12px;
    }
    &__search-label,
    &__search-input-wrap,
    &__namespace-name-cell {
        padding-right: 10px;
    }
    &__ignore-label,
    &__ignore-input-wrap {
        padding-left: 10px;
    }

    &__search-input,
    &__ignore-input {
        height: 140px;
    }
    &__button-cell {
        vertical-align: bottom;
        text-align: right;
    }

    &__save-tooltip {
        position: absolute;
        width: 200px;
        color: #FE7649;
    }
    &__rename-warning {
        color: #FE7649;
    }
}

.results-spin {
    height: 50px;
    &__wrapper {
        position: absolute;
        width: 100%;
        max-width: 800px;
    }
}

.namespace-name-cell {
    &__table {
        width: 100%;
    }
    &__namespace-cell,
    &__name-cell {
        width: 50%;
    }
}

.preview-error {
    color: red;
}

.namespace-name-cell__namespace-cell {
    padding-right: 10px;
    vertical-align: bottom;
}

/* end of new-package page */

.autocomplete-input {
    width: 100%;
}



/* dropdown */
.dropdown {
    display: inline-block;
}

.report-button {
    display: inline-block;
}

.popup {
  position: absolute;
  margin-top: 10px;
  z-index:30000;
  width: 400px;
  background-color: white;
  padding: 10px;
  display: block;
  border: 1px solid #CBCBCB;
  box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
}
/* end dropdown */

/* page of catalogue */

.catalogue-namespaces {
  width: 100%;
  transition: width 500ms;
  background: #EEE;
  &_transition {
    width: 200px;
  }
  &_selected {
    display: table-cell;
    width: 200px;
  }
}

.catalogue-namespace {
  display: inline-block
  font-size: 20px
  line-height: 20px
  width: 200px

  transition: all ease 500ms;
  & a {
    display: block;
    padding: 10px;
    transition: all ease 500ms;
  }

  &:hover {
    background: #4444FF
    & a {
      color: white
    }
  }

  &_selected {
    background: #4444FF
    & a {
      color: white
      text-decoration: none

      &:before {
          content: "+"
          float: right
          transform: rotate(45deg)
      }
    }
  }
}

.catalogue-packages {
    display: none
    list-style: outside none none;
    padding-left: 20px;
    border: 2px solid #eee;


    & li {
        display: inline-block;
        white-space: nowrap;
        min-width: 200px;
        line-height: 40px;
    }
    
    &_visible {
        display: table-cell
    }

}

/* end page of catalogue */


.version-links {
  list-style: none;
  margin-bottom: 20px;
  clear: both;
}
.version-links__wrapper {
  height: auto !important;
}
.version-links__sticky .version-links {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px;
  margin-right: 95px;
  left: 95px;
  padding: 0 5px 5px 5px;
}
.version-links__item {
  display: inline-block;
  margin-right: 10px;
  min-width: 50px;
}
.version-links__selected-item a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}


.track-button-container {
    display: inline-block;
}