@require "utils"

.page {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.3em;
    background-color: #FFF;
}

body.email {
    background-color: #FFF;
}

.digest-source {
    list-style-type: none;
    padding-left: 0px;

    &__namespace-field {
        width: 15em;
    }
    &__source-field {
        width: 25em;
    }
    &__problem {
        color: red;
    }
    &__waiting {
        color: blue;
    }
    &__version {
        color: green;
    }
}

.content {
    margin-left: 100px;
    margin-right: 100px;
}

.footer {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 2em;
    margin-bottom: 1em;
    border-top: 1px solid #ddd;
    padding-top: 1em;
    color: gray;
}

.clear {
    clear: both;
}


.grouped-changes-title {
    font-size: 1.5em;
}


.package-changes {
    list-style: none;
    clear: both;

    &__package-title {
        font-size: 1.2em;
        > a {
            black-link()
        }
    }
}

.package-version {
    list-style: none;

    &__number {
        display: inline-block;
        margin-top: 1em;
        > a {
          black-link()
        }
    }
    &__date {
        display: inline;
        color: gray;
    }
    &__items {
        margin-left: 1em;
        margin-top: 0.5em;
    }
    &__section-item {
        list-style: disc inside;
        
        > p:first-child {
            margin-left: 0;
        }
        > p {
            margin-left: 1em;
        }
    }

    &__notes {
        margin-left: 1em;
        margin-top: 0.5em;
    }
}

.grouped-changes-title {
    margin-top: 1em;
}

.package-changes__package-title {
    margin-top: 1em;
    display: inline-block;
}

.email-note {
    margin-top: 2em;
    font-size: 1.2em;
}

.email-signature {
    margin-top: 2em;
    font-size: 1.2em;
}

.email-unsubscribe {
    font-size: 0.75em;
    margin-top: 2em;
}

.package-metadata {
  > dt {
    float: left;
    clear:left;
    color: gray + #333;
  }
  > dd {
    float: left;
    margin-left: 0.6em;
    
    color: gray;
  }
}

.package-version__section-item {
    list-style: none;
    line-height: 1.667em;
}

.package-version__section-item p:first-child {
    margin-left: 0;
}
.package-version__section-item p {
    margin-left: 1em;
}

section-item-plate(text, color) {
      content: text;
      background-color: color;
      position: absolute;
      margin-left: -40px;
      font-size: 12px;
      font-family: Courier New;
      padding: 2px 4px;
      border-radius: 3px;
      color: white;
      width: 24px;
      text-align: center;
      line-height: 1em;
      margin-top: 5px;
}

.package-version__section-item_fix:before {
    section-item-plate("fix", #ee883d)
}

.package-version__section-item_new:before {
    section-item-plate("new", #5fbe40)
}


/* autocomplete */
.autocomplete-input {
    display: inline-block;
}


/* profile settings */
.form_profile {
    width: 50%;
}


/* token page */
.text-input_with-token {
    width: 30em;
}