@require "variables"

.form
    margin-top: 1em
    margin-bottom: 1em

    &__help
        color: gray
        margin-top: (15em / 15)

    &__layout
        &__left-column
            padding-bottom: (20em / 15)
        &__right-column
            padding-bottom: (20em / 15)

    &_large
        font-size: (30em / 15)
        line-height: (40em / 30) 


.label
    margin-right: 1em
    white-space: nowrap

.text-input, .dropdown
    border: 1px solid input-border-color
    font-size: 1em
    padding: (1em/15)
    margin: 0
    width: 100%;
    
    &__error
        border: 1px solid (input-border-color + #f00)

.button
    color: button-text-color
    background-color: button-color
    border: 1px solid (button-color - 10%)
    cursor: pointer
    &:hover
        background-color: (button-color - 20%)

    &:disabled
        color: (@color + 40%)
        cursor: not-allowed
        &:hover
            background-color: @background-color


    text-decoration: none
    font-size: (12em / 15)
    line-height: (19em / 12)
    padding-top: (1em / 12)
    padding-bottom: @padding-top
    padding-left: (1em / 4)
    padding-right: @padding-left
    margin: 0

    border-radius: (1em / 6)

    &_good
        color: good-button-text-color
        background-color: good-button-color
        border-color: (@background-color - 10%)
        &:hover
            background-color: (@background-color - 20%)

        &:disabled
            color: @color
            background-color: (@background-color + 50%)
            border-color: (@background-color + 40%)
            &:hover
                background-color: @background-color


    &_bad
        color: bad-button-text-color
        background-color: bad-button-color
        border-color: (@background-color - 10%)
        &:hover
            background-color: (@background-color - 20%)

        &:disabled
            color: @color
            background-color: (@background-color + 50%)
            border-color: (@background-color + 40%)
            &:hover
                background-color: @background-color

    &_medium
        font-size: (15em / 15)
        line-height: (19em / 15)

    &_large
        font-size: (30em / 15)
        line-height: (40em / 30)
        


.input
    margin-top: 16px
    &__error
        margin-left: 10px
        color: red
