@require "variables"

.form
    font-size: 15px
    font-weight: normal
    font-family: generic-font
    line-height: 20px

    &__help
        color: gray
        margin-top: (15em / 15)

    &__layout
        &__left-column
            padding-bottom: (20em / 15)
        &__right-column
            padding-bottom: (20em / 15)

    &._large
        font-size: 30px
        line-height: 40px


.label
    margin-right: 1em
    white-space: nowrap

.text-input, .select-box, .textarea
    border: 1px solid input-border-color
    font-size: 15px
    padding: 3px
    margin: 0
    margin-bottom: 15px
    width: 100%;
    box-sizing: border-box;
    
    &__error
        border: 1px solid (input-border-color + #f00)
    &._large
      font-size: 30px

.textarea
    height: 200px

.button
    display: inline-block
    font-size: 15px
    font-family: arial
    font-weight: normal
    line-height: 15px
    color: button-text-color
    background-color: button-color
    box-sizing: border-box
    border: 1px solid (button-color - 10%)
    cursor: pointer
    -webkit-appearance: none

    &:hover
        background-color: (button-color - 20%)

    &:disabled
        color: (@color + 40%)
        cursor: not-allowed
        &:hover
            background-color: @background-color


    text-decoration: none
    padding-top: 5px
    padding-bottom: @padding-top
    padding-left: 5px
    padding-right: @padding-left
    margin: 0

    border-radius: 3px

    &._good
        color: good-button-text-color
        background-color: good-button-color
        border-color: (@background-color - 10%)
        &:hover
            background-color: (@background-color - 20%)

        &:disabled
            color: @color
            background-color: (@background-color + 50%)
            border-color: (@background-color + 40%)
            &:hover
                background-color: @background-color


    &._bad
        color: bad-button-text-color
        background-color: bad-button-color
        border-color: (@background-color - 10%)
        &:hover
            background-color: (@background-color - 20%)

        &:disabled
            color: @color
            background-color: (@background-color + 50%)
            border-color: (@background-color + 40%)
            &:hover
                background-color: @background-color

    &._medium
        font-size: 20px
        line-height: 20px

    &._large
        font-size: 30px
        line-height: 30px


// it is used on add-new page to display
// inputs with labels and errors
.input
    margin-top: 16px
    &__error
        margin-left: 10px
        color: red


.form-buttons__back
    width: 100%