@require "variables"

.form
    font-size: 15px
    font-weight: normal
    font-family: generic-font
    line-height: 20px

    &__help
        color: gray
        margin-top: (15em / 15)

    &__layout
        &__left-column
            padding-bottom: (20em / 15)
            vertical-align: top
        &__right-column
            padding-bottom: (20em / 15)

    &._large
        font-size: 30px
        line-height: 40px


.label
    margin-right: 1em
    white-space: nowrap

.text-input, .select-box, .textarea
    border: 1px solid input-border-color
    font-size: 15px
    padding: 3px
    margin: 0
    margin-bottom: 15px
    width: 100%;
    box-sizing: border-box;
    
    &__error
        border: 1px solid (input-border-color + #f00)
    &._large
      font-size: 30px

.textarea
    height: 200px


colored-button(bg-color, fg-color) {
    color: fg-color
    background-color: bg-color
    border-color: (@background-color - 10%)
    background-image: linear-gradient(@background-color, @border-color)

    &:hover {
        background-color: (@background-color - 20%)
        border-color: (@background-color - 10%)
        background-image: linear-gradient(@background-color, @border-color)
    }

    &:disabled {
        color: (@color + 50%)
        background-color: (@background-color + 50%)
        border-color: (@background-color - 10%)
        background-image: linear-gradient(@background-color, @border-color)

        &:hover {
            background-color: @background-color
            border-color: @border-color
            background-image: linear-gradient(@background-color, @border-color)
        }
    }
}


.button
    display: inline-block
    font-size: 15px
    font-family: arial
    font-weight: normal
    line-height: 15px
    box-sizing: border-box
    border: 1px solid (button-color - 10%)
    cursor: pointer
    -webkit-appearance: none
    text-decoration: none
    padding-top: 5px
    padding-bottom: @padding-top
    padding-left: 5px
    padding-right: @padding-left
    margin: 0

    border-radius: 3px

    &:disabled
        cursor: not-allowed

    colored-button(button-color, button-text-color)

    &._good, &._green
        colored-button(good-button-color, good-button-text-color)
    &._bad, &._red
        colored-button(bad-button-color, bad-button-text-color)
    &._blue
        colored-button(blue-button-color, blue-button-text-color)

    &._medium
        font-size: 20px
        line-height: 20px

    &._large
        font-size: 30px
        line-height: 30px


// it is used on add-new page to display
// inputs with labels and errors
.input
    &__error
        margin-left: 10px
        color: red
        &:first-child
            margin-left: 0px


.form-buttons__back
    width: 100%

.buttons-row
    margin-top: 10px
    text-align: right

.vlink
    text-decoration: none
    border-bottom: 1px dashed