@require "utils"

.header {
    @media (max-width: 600px) {
           padding-left: 10px;
    }
    @media (min-width: 600px) {
           padding-left: 100px;
    }
    padding-top: 1.5em;
    background-color: dark-blue-color;
    border-bottom: 2px solid light-blue-color;
    margin-bottom: 30px;
    min-height: 50px;
}

.login-plate {
    position: absolute
    right: 20px
    top: 5px
    color: yellow-color;

    &__greeting {
        display:inline-block;
        white-space: nowrap;
        position: relative;
        top: 6px;
        text-align: right;
    }
}

/* Navigation */
.site-menu {
  display: block;
  margin: 0;
  padding: 20px 0px 10px 0px;
}
.site-menu__item {
  display: inline-block;
}
.site-menu__item a {
  display: block;
  font-size: 20px;
  margin-right: 30px;
  color: yellow-color;
  text-decoration: none;
  border-bottom: 5px solid light-blue-color;
  transition: 0.2s;
  &:hover {
      color: light-red-color;
      border-bottom: 5px solid dark-red-color;
  }
}
.site-menu__selected-item a {
  border-bottom: 5px solid light-red-color;
  &:hover {
      color: light-red-color;
      border-bottom: 5px solid dark-red-color;
      cursor: default;
  }
}
/* END Navigation */


.magic-prompt {
    width: 100%;
    box-sizing: border-box;
    @media (min-width: 600px) {
        padding-right: 100px;
    }
    @media (max-width: 600px) {
        padding-right: 20px;
    }
    margin-top: 25px;
    position: relative;

    &__input {
        font-size: 24px;
        line-height: 40px;
        border: 2px solid light-blue-color;
        padding: 0 5px;
        width: 100%;
        -webkit-appearance: none;
    }
    &__submit {
        visibility: hidden;
        font-size: 24px;
        line-height: 32px;
        position: absolute;
        right: 250px;
    }
    &__no-matches {
        padding: 10px;
    }
    &__suggest-item-info {
        color: gray;
        float: right;
    }
    &__suggest-item-source {
        display: inline-block;
        white-space: nowrap;
        max-width: 600px;
        overflow: hidden;
        color: gray;
    }
    .twitter-typeahead {
        width: 100%;
    }

    .tt-dropdown-menu {
        width: 100%;
        background: white;
        border: 1px solid light-blue-color;
        box-shadow: 0 0 3px #111;
        margin-top: 10px;
    }

    .tt-suggestion {
        border-bottom: 1px solid light-blue-color;
        font-size: 15px;
        line-height: 20px;
        padding: 10px;
    }
 
    .tt-cursor {
        background: yellow-color;
    }

    .tt-suggestion:last-of-type {
        border-bottom: none;
    }
}
