@require "utils"

.header {
    padding-top: 1.5em;
    background-color: #EEE;
    margin-bottom: 30px;
}

.logo {
    margin-left: 20px
    position: absolute
    top: 25px

    &__text {
        font-size: 2em
        font-family: header-font
    }
    &__link {
        text-decoration: none;
        color: black;
        transition: all ease 500ms;  
    }
    &__link:hover {
        color: #4466FF;
    }
}

.login-plate {
    position: absolute
    right: 20px
    top: 20px

    &__profile-link {
        black-link();
    }
}

/* Navigation */
.site-menu {
  display: block;
  margin: 0;
  padding: 10px 100px;
  border-bottom: 1px solid gray;
}
.site-menu__item {
  display: inline-block;
}
.site-menu__item a {
  display: block;
  font-size: 20px;
  margin-right: 30px;
  color: text-color;
  text-decoration: none;
  border-bottom: 5px solid #555;
  transition: 0.2s;
  &:hover {
      color: link-color;
      border-bottom: 5px solid link-color;
  }
}
.site-menu__selected-item a {
  border-bottom: 5px solid red;
  &:hover {
      color: text-color;
      border-bottom: 5px solid red;
      cursor: default;
  }
}
/* END Navigation */


.magic-prompt {
    width: 100%;
    box-sizing: border-box;
    padding-left: 290px
    padding-right: 220px
    line-height: 50px

    &__text {
        font-size: 24px;
        line-height: 24px;
        margin-top: -8px;
        padding: 10px;
    }
    &__autocomplete {
        width: 80%;
        display: inline-block;
    }
    &__submit {
        font-size: 24px;
        line-height: 32px;
        margin-top: -25px;
        margin-left: 20px;
    }
    &__apply {
        font-size: 24px;
        line-height: 32px;
        margin-top: 10px;
    }
}

