.header {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    background-color: white;
    margin-bottom: 1em;
    border-bottom: 1px solid #dedede;
}

.logo {
    float: left;
    margin-left: 100px
}

.logo__text {
    font-size: 2em
}
.logo__link {
    text-decoration: none;
    color: black;
}

.login-plate {
    float: right;
    margin-right: 100px;
    line-height: 2em;
}
