.plate {
    background-color: good-plate-color;
    line-height: (40em / 15);
    padding-left: (10em / 15);
    margin-left: -(10em / 15);
    color: plate-text-color;
    border: 1px solid (good-plate-color - 25%);

    > a {
        color: (plate-text-color - #550);}
    > a:visited {
        color: (plate-text-color - #550);}

    &_warning {
        background-color: warning-plate-color;
        border: 1px solid (warning-plate-color - 25%);
    }
}

