.plate {
    background-color: good-plate-color;
    font-size: 15px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px
    margin-top: 7px; // to distinguish between few plates
    color: plate-text-color;
    border: 1px solid (good-plate-color - 25%);
    border-radius: 3px;


    &_warning {
        background-color: warning-plate-color;
        border: 1px solid (warning-plate-color - 25%);
    }
}

.link_plate {
    color: (plate-text-color - #550);

    &:visited {
        color: (plate-text-color - #550);
    }
}
