.form_subscription {
    font-size: 2em;
}

.page-header_coming-soon {
    font-size: 3em;
}

.box_coming-soon {
    margin-left: -2.5em;
    margin-right: -2.5em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
