@require "variables"

.page-header {
    font-size: (25em / 15);
    line-height: (30em / 25);
    margin-bottom: 1em;
    font-family: header-font;
}

.page-subheader {
    margin-bottom: 1em;
    font-family: header-font;
}
