@require "variables"

.page-header {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 27px;
    font-family: header-font;
}

.page-subheader {
    margin-top: 25px;
    margin-bottom: 16px;
    font-family: header-font;
}
