@require "variables"

a {
  color: light-red-color;
  &:hover {
    color: dark-red-color;
  }
}

.page-header {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: header-font2;
}

.page-subheader {
    margin-top: 25px;
    margin-bottom: 16px;
    font-family: header-font;
}

// show test smaller and higher than baseline
.text-index {
    font-size: 0.5em;
    position: relative;
    top: -0.7em;
}