text-color = #333
input-border-color = gray
button-color = #fff
button-text-color = text-color
good-button-color = #6CB636
good-button-text-color = #F1F1F1
bad-button-color = #d9534f
bad-button-text-color = #fff


plate-text-color = #fefefe
good-plate-color = good-button-color
warning-plate-color = bad-button-color