text-color = #333
link-color = #46F
input-border-color = gray
button-color = #fff
button-text-color = text-color
good-button-color = #5cb85c
good-button-text-color = #FFF
bad-button-color = #d9534f
bad-button-text-color = #FFF


plate-text-color = #fefefe
good-plate-color = good-button-color
warning-plate-color = bad-button-color

header-font = pragmatica-web-condensed, sans-serif
generic-font = proxima-nova, sans-serif