// основная тема
dark-red-color = #6B0C22
light-red-color = #D9042B
yellow-color = #F4CB89
light-blue-color = #588C8C
dark-blue-color = #011C26

// цвета для кнопок
bright-green-color = #37CC6A
bright-blue-color = #2962F0


text-color = #333
link-color = #46F
input-border-color = gray
button-color = #fff
button-text-color = text-color
good-button-color = bright-green-color
good-button-text-color = #FFF
bad-button-color = light-red-color
bad-button-text-color = #FFF
blue-button-color = bright-blue-color
blue-button-text-color = #FFF


plate-text-color = #fefefe
good-plate-color = light-blue-color
warning-plate-color = yellow-color

header-font = pragmatica-web-condensed, sans-serif
generic-font = proxima-nova, sans-serif