.close-button-row {
    text-align: right;
}

.mdl-list__item {
    padding: 0;
}

.mdl-textfield {
    width: 100%;
}

.modal-popup__content {
    // задаём отступы для окна добавления тегов
    padding: 30px;
    // и сделаем там шрифт покрупней
    > p {
        font-size: 18px;
        line-height: 36px;
    }
}