@require "../../../stylus/typography"

.changelog-settings {
    &__tune-panel {
        max-width: 800px;
    }

    &__tune {
        //transition: all .25s ease-in-out;
        transition: all 0.2s ease-in;
        
        .react-tabs [role=tab][aria-selected=true] {
            background: rgba(255,255,255,0.9);
        }
    }

    @media (min-height: 300px) {
        &__tune {
            position: fixed;
            bottom: 0;
            box-shadow: 0px 0px 20px #808080;
        }
    }
    @media (max-height: 300px) {
        &__tune {
            position: relative;
            box-shadow: 0px -3px 10px #808080;
            margin-top: 20px;
        }
        &__collapse-button {
            display: none;
        }
    }

    &__collapse-button {
        border: 0;
        background: white;
        position: absolute;
        left: 50%;
        top: -15px;
        margin-left: -20px;
        width: 40px;
        height: 15px;
        
        box-shadow: 0px -3px 5px #808080;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        vertical-align: bottom;
    }
}

/* these links are shown under the source url's input
on "tune" page when there is no source url.
*/
.guessed-sources {
    > ul {
        display: inline-block;
        margin-left: 0.6em;
        margin-bottom: 1em;
        
        > li {
            list-style: none;
            display: inline-block;
            
            > a {
                pseudo-link();
            }
            &:after {
                content: ",";
                margin-right: 0.5em;
            }
            &:last-child:after {
                content: ".";
                margin-right: 0;
            }
        }
    }
}