

.changelog-settings {
    &__tune-panel {
        max-width: 800px;
    }

    &__tune {
        //transition: all .25s ease-in-out;
        transition: all 0.2s ease-in;
        
        .react-tabs [role=tab][aria-selected=true] {
            background: rgba(255,255,255,0.9);
        }
    }

    @media (min-height: 500px) {
        &__tune {
            position: fixed;
            bottom: 0;
            box-shadow: 0px 0px 20px #808080;
        }
    }
    @media (max-height: 500px) {
        &__tune {
            position: relative;
            box-shadow: 0px -3px 10px #808080;
            margin-top: 20px;
        }
        &__collapse-button {
            display: none;
        }
    }

    &__collapse-button {
        border: 0;
        background: white;
        position: absolute;
        left: 50%;
        top: -21px;
        margin-left: -70px;
        width: 140px;
        
        box-shadow: 0px -3px 5px #808080;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}